<div class="well" ng-controller="ChangePasswordCtrl">
    <h3>Cambiar clave</h3>
    <form ng-submit="save()">
        <div class="controls-group">
            <label>Usuario:</label>
            <input type="text" disabled class="form-control" value="{{user.username}}" />
        </div>
        <div class="controls-group">
            <label>Nueva clave:</label>
            <input type="password" class="form-control" ng-model="newPassword" />
        </div>
        <input class="btn btn-primary" type="submit" value="Cambiar clave" style="margin-top: 15px;" />
    </form>
</div>