<div ng-controller="EditUserCtrl as self">
    <!--<style type="text/css">
        #repetidor{
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select:none;
            display:inline-block;
            list-style-type:none;
            background-color: rgba(239, 239, 239, 0.87);
            border-radius: 5px;
            margin-bottom:10px;
            padding-left:10px;
            width:49.5%
        }
        #repetidor>div>div>div{
            margin-top:0.2em;
            border-radius: 5px;
            width: 33.3%;
            padding-bottom:10px;
            display:inline-block;
        }
        #repetidor>div>strong{
            margin-left: 10px;
            display: block;
            width: 97%;
            font-size: 16.5px;
            line-height: 35px;
            color: #444444;
            border: 0;
            cursor:pointer;
        }
        #repetidor>div>div>div>a{
            width:98%;
        }
        .btn{
            height: inherit;
        }
        input:not(.select2-input){
            margin:0 10px !important;
        }
    </style>-->
    <div class="card">
        <div class="card-actions pull-right" style="margin: 0; padding: 0">
            <div class="controls">
                <button type="button" class="btn btn-default pull-left" ng-click="deshabilitar()" style="margin-right: 20px;">Deshabilitar todos</button>
                <!--<button type="button" class="btn btn-default" ng-click="variable=!variable" style="margin-right: 20px;"><span ng-show="!variable">Desplegar todos</span><span ng-hide="!variable">Ocultar todos</span></button>-->
                <select ui-select2 class="form-control col-md-2" type="text" ng-model="filtro.group" title="Grupo" style="width: 250px;">
                    <option value="">Todos</option>
                    <option ng-repeat="i in self.allPermissions | orderBy: 'group' | filter:seRepite" value="{{i.group}}">{{i.group}}<option>
                </select>
                <button type="button" class="btn btn-default pull-right" ng-click="save()" style="margin-right:15px"><i class="icon-ok"></i> Guardar</button>
                <input autofocus placeholder="Buscar permiso..." type="text" class="col-md-2 form-control" ng-model="filtro.name" ng-keyup="tocaron($event)" style="width: 200px;margin-right: 10px;margin-left: 10px;" />
            </div>
        </div>
        <h3 class="card-heading simple" style="margin-bottom: 20px;">Modificar Permisos de: {{user.username}}</h3>

        <div class="card-body">
            <form ng-submit="save()" style="margin-bottom: 20px;">
                <div class="container-fluid" ng-controller="AddPermissionCtrl as apc" style="margin-bottom: 35px;">
                    <table class="table" ng-repeat="(key,value) in self.allPermissions | orderBy:'group' | filter:filtro | groupBy: 'group'" style="margin-bottom: 0px;">
                        <tr>
                            <td style="width: 200px;vertical-align: middle;font-weight: 600;font-size: 16px;">{{key}}</td>
                            <td style="padding-left: 1px;padding-right: 1px;">
                                <div class="col-md-12" ng-show="key == 'Salas de Reuniones'" style="padding-left: 0px;">
                                    <div class="col-md-1" style="margin-top: 8px; width: 60px; padding-left: 0px; padding-right: 0px; margin-bottom: 10px;">
                                        Edificio:
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" ng-model="userPermissions.edificio">
                                            <option value="">Ninguno</option>
                                            <option ng-repeat="e in edificios | orderBy: 'nombre'" value="{{ e._id }}">{{ e.nombre }}{{ (e.apagado) ? ' (Apagado)' : '' }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1" style="margin-top: 8px; width: 55px; padding-right: 0px; margin-bottom: 10px;">
                                        Piso:
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" ng-model="userPermissions.piso">
                                            <option value="">Todos los pisos</option>
                                            <option ng-repeat="p in pisos | orderBy: 'orden'" value="{{ p._id }}" ng-selected="userPermissions.piso == p._id">{{ p.tipo }} {{ p.numero }}{{ (p.apagado) ? ' (Apagado)' : '' }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div ng-repeat="r in value | filter:filtroRol | orderBy: 'name'" style="display: inline-block;width: 260px;margin-right: 5px;margin-bottom: 2px;margin-top: 2px;">
                                    <a ng-click="cambiarRol(r.roles,r.prioridad)" title="{{r.name}}" ng-class="{true:'active btn-success', false: 'btn-danger'}[tienePermisoRol(r.roles)]" class="btn btn-block">
                                        <span ng-show="comprobarPermisos(r.roles)">{{segundaParte(r.name)}}</span>
                                        <span ng-show="!comprobarPermisos(r.roles)">{{segundaParte(r.name)}}</span>
                                    </a>
                                </div>
                                <hr style="margin-top: 5px; margin-bottom: 5px;" ng-if="(value | filter:filtroRol).length">
                                <div ng-repeat="permiso in value | filter:filtroPermiso | orderBy: 'name'" style="display: inline-block;width: 260px;margin-right: 5px;margin-bottom: 2px;margin-top: 2px;">
                                    <a ng-click="cambiarPermiso(usuario, permiso.key)" title="{{permiso.name}}" ng-class="{true:'active btn-success', false: 'btn-danger'}[tienePermiso(usuario, permiso.key)]" class="btn btn-block">
                                        <span ng-show="tienePermiso(usuario, permiso.key)">{{segundaParte(permiso.name)}}</span>
                                        <span ng-show="!tienePermiso(usuario, permiso.key)">{{segundaParte(permiso.name)}}</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                    
                    
                    
                    <!--<div class="row" style="margin-bottom: 10px;" > 
                    
                        <div id="repetidor" class="accordion" id="accordion2" ng-repeat-start="(key,value) in self.allPermissions | orderBy:'group' | filter:filtro | groupBy: 'group'">
                            <div ng-click="variable=!variable">
                                <strong>{{key}} </strong>
                            </div>  
                            <div class="container-fluid" ng-show="key == 'Salas de Reuniones' && variable">
                                <div class="row">
                                    <div class="col-md-6">
                                        Edificio:
                                        <select class="form-control" ng-model="userPermissions.edificio">
                                            <option value="">Ninguno</option>
                                            <option ng-repeat="e in edificios | orderBy: 'nombre'" value="{{ e._id }}">{{ e.nombre }}{{ (e.apagado) ? ' (Apagado)' : '' }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        Piso:
                                        <select class="form-control" ng-model="userPermissions.piso">
                                            <option value="">Todos los pisos</option>
                                            <option ng-repeat="p in pisos | orderBy: 'orden'" value="{{ p._id }}" ng-selected="userPermissions.piso == p._id">{{ p.tipo }} {{ p.numero }}{{ (p.apagado) ? ' (Apagado)' : '' }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="variable">
                                <h4 style="font-size: 16px;" ng-if="(value | filter:filtroRol).length">Roles</h4>
                                <div>
                                    <div ng-repeat="r in value | filter:filtroRol | orderBy: 'name'">
                                        <a ng-click="cambiarRol(r.roles,r.prioridad)" title="{{r.name}}" ng-class="{true:'active btn-success', false: 'btn-danger'}[tienePermisoRol(r.roles)]" class="btn">
                                            <span ng-show="comprobarPermisos(r.roles)">{{segundaParte(r.name)}}</span>
                                            <span ng-show="!comprobarPermisos(r.roles)">{{segundaParte(r.name)}}</span>
                                        </a>
                                    </div>
                                </div>
                                <hr ng-if="(value | filter:filtroRol).length" style="margin-top: 5px; margin-bottom: 10px;">
                                <div>
                                    <div ng-repeat="permiso in value | filter:filtroPermiso | orderBy: 'name'">
                                        <a ng-click="cambiarPermiso(usuario, permiso.key)" title="{{permiso.name}}" ng-class="{true:'active btn-success', false: 'btn-danger'}[tienePermiso(usuario, permiso.key)]" class="btn">
                                            <span ng-show="tienePermiso(usuario, permiso.key)">{{segundaParte(permiso.name)}}</span>
                                            <span ng-show="!tienePermiso(usuario, permiso.key)">{{segundaParte(permiso.name)}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat-end ng-if="p.templateUrl && tienePermiso(usuario, p.key)">
                            <div ng-include src="$parent.p.templateUrl"></div>
                        </div>
                    </div>-->
                </div>
                <input class="btn btn-primary" type="submit" value="Guardar" style="width:100%;margin: 0px !important;"/>
            </form>
        </div>
    </div>
</div>