<script>
    $(document).ready(function() { $("#e1").select2(); });
    $(document).ready(function() { $("#e2").select2(); });
</script>

<div class="well" ng-controller="EditarDatosCtrl">
    <h3>Editar Datos</h3>
    <form ng-submit="save()">
        <div class="form-group">
            <label>Usuario:</label>
            <input type="text" disabled class="form-control" value="{{user.username}}" style="width: 300px;" />
        </div>
        <div class="form-group">
            <label>Nombre:</label><br>
            <input class="form-control" type="text" ng-model="user.nombre" style="width: 400px;" />
        </div>
        <div class="form-group">
            <label>Apellidos:</label><br>
            <input class="form-control" type="text" ng-model="user.apellidos" style="width: 400px;" />
        </div>
        <input class="btn btn-primary" type="submit" value="Guardar" />
    </form>
</div>