<div ng-controller="UsersCtrl" ng-init="tab = 'internos'">
    <div class="col-md-9">
        <h3 class="card-heading simple no-print" style="padding-left: 0px; margin-top: 0px;padding-right: 0px;height: 45px;margin-bottom: 10px;">
            <ul class="nav nav-pills">
                <li ng-class="{'active': tab == 'internos'}">
                    <a ng-click="tab='internos'" href="#" data-toggle="tab">Usuarios Internos</a>
                </li>
                <li ng-class="{'active': tab == 'externos'}">
                    <a ng-click="tab='externos'" href="#" data-toggle="tab">Usuarios Externos</a>
                </li>
            </ul>
            <input class="pull-right form-control" placeholder="Buscar por Usuario..." type="text" class="col-md-2" ng-model="filtro.username" style="width: 200px;" />
        </h3>
        <table class="table" ng-if="tab == 'internos'">
            <tbody>
                <tr ng-repeat="u in users | orderBy:'username' | filter: {interno:true} | filter:filtro">
                    <th style="vertical-align: middle;">{{u.username}}</th>
                    <td style="vertical-align: middle;">{{u.nombre}} {{u.apellidos}}</td>
                    <td>
                        <div class="btn-group pull-right">
                          <a class="btn btn-default" href="/admin/users/{{u.username}}"><i class="icon-edit"></i>&nbsp;Permisos</a>
                          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a href="/admin/users/{{u.username}}/changePassword"><i class="icon-lock"></i>&nbsp;Cambiar clave</a></li>
                            <li><a href="/admin/users/{{u.username}}/editarDatos"><i class="icon-edit"></i>&nbsp;Editar Datos</a></li>
                            <li><a href="#" ng-click="copiarPermisos(false, u)"><i class="icon-copy"></i>&nbsp;Copiar Permisos de ...</a></li>
                            <li><a href="#" ng-click="u.importante = !u.importante; u.$save()"><i class="icon-star" ng-show="u.importante"></i><i class="icon-star-empty" ng-hide="u.importante"></i>&nbsp;Importante</a></li>
                            <li><a href="#" ng-click="eliminar(false, u)"><i class="icon-trash icon-white"></i>&nbsp;Eliminar</a></li>
                          </ul>
                        </div>
                        <!-- <div class="btn-group">
                            <a class="btn" href="/admin/users/{{u.username}}/changePassword"><i class="icon-lock"></i>&nbsp;Cambiar clave</a>
                            <a class="btn" href="/admin/users/{{u.username}}"><i class="icon-edit"></i>&nbsp;Permisos</a>
                            <button type="button" class="btn btn-danger" ng-click="eliminar(false, u)">
                                <i class="icon-trash icon-white"></i>&nbsp;Eliminar</button>
                        </div> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" ng-if="tab == 'externos'">
            <tbody>
                <tr ng-repeat="u in users | orderBy:'username' | filter: {interno:false} | filter:filtro">
                    <th style="vertical-align: middle;">{{u.username}}</th>
                    <td style="vertical-align: middle;">{{u.nombre}} {{u.apellidos}}</td>
                    <td>
                        <div class="btn-group pull-right">
                          <a class="btn btn-default" href="/admin/users/{{u.username}}"><i class="icon-edit"></i>&nbsp;Permisos</a>
                          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a href="/admin/users/{{u.username}}/changePassword"><i class="icon-lock"></i>&nbsp;Cambiar clave</a></li>
                            <li><a href="/admin/users/{{u.username}}/editarDatos"><i class="icon-edit"></i>&nbsp;Editar Datos</a></li>
                            <li><a href="#" ng-click="copiarPermisos(false, u)"><i class="icon-copy"></i>&nbsp;Copiar Permisos de ...</a></li>
                            <li><a href="#" ng-click="u.importante = !u.importante; u.$save()"><i class="icon-star" ng-show="u.importante"></i><i class="icon-star-empty" ng-hide="u.importante"></i>&nbsp;Importante</a></li>
                            <li><a href="#" ng-click="eliminar(false, u)"><i class="icon-trash icon-white"></i>&nbsp;Eliminar</a></li>
                          </ul>
                        </div>
                        <!-- <div class="btn-group">
                            <a class="btn" href="/admin/users/{{u.username}}/changePassword"><i class="icon-lock"></i>&nbsp;Cambiar clave</a>
                            <a class="btn" href="/admin/users/{{u.username}}"><i class="icon-edit"></i>&nbsp;Permisos</a>
                            <button type="button" class="btn btn-danger" ng-click="eliminar(false, u)">
                                <i class="icon-trash icon-white"></i>&nbsp;Eliminar</button>
                        </div> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel col-md-3" ng-include src="'/views/admin/users/new.html'"></div>
    

    <div id="copiarPermi" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Copiar Permisos del Usuario</h3>
                </div>
                <div class="modal-body">
                    <p>Seleccione un usuario del cual copiar sus permisos, se sobreescribirán los permisos del usuario destino.<br>
                    </p>
                    <select ui-select2 class="form-control col-md-2 pull-right" type="text" ng-model="usuarioPermiso">
                        <option value="" ng-disabled="true">Seleccione Usuario...</option>
                        <option ng-repeat="i in users | orderBy: 'username'" value="{{i.username}}">{{i.username}}<option>
                    </select>
                    <br><br>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <a href="#" class="btn btn-info" data-dismiss="modal" ng-click="copiarPermisos(true)">Copiar</a>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmarEliminar" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Eliminar Usuario</h3>
                </div>
                <div class="modal-body">
                    <p>Está a un paso de eliminar el usuario.<br>
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Conservar el registro</a>
                    <a href="#" class="btn btn-danger" data-dismiss="modal" ng-click="eliminar(true)">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>