<div ng-controller="NewUserCtrl">
    <h3>Agregar un usuario</h3>
    <form role="form" ng-submit="save()">
        <div class="form-group">
            <label>Usuario:</label>
            <input type="text" class="form-control" ng-model="user.username" />
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" ng-model="newPassword" />
        </div>
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control" ng-model="user.nombre" />
        </div>
        <div class="form-group">
            <label>Apellidos:</label>
            <input type="text" class="form-control" ng-model="user.apellidos" />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" ng-model="user.email" />
        </div>
        <input type="submit" value="Crear Usuario" class="btn btn-primary btn-block" style="margin-bottom: 20px;margin-top: 20px;" />
    </form>
</div>