<div class="col-md-3"></div>
<div class="col-md-6" ng-controller="NewUserCtrl">
    <h3>Recuperar contraseña</h3>
    <form role="form" ng-submit="mailContrasena()">
        <div class="well">Escribe tu usuario y recibirás un mail a la cuenta que tenes registrada con las instrucciones para crearte una nueva contraseña.</div>
        <div class="form-group">
            <label>Usuario:</label>
            <input type="text" class="form-control" ng-model="user.username" />
        </div>
        <input type="submit" value="Enviar mail" class="btn btn-primary btn-block" style="margin-bottom: 20px;margin-top: 20px;" />
    </form>
</div>
<div class="col-md-3"></div>