<div class="col-md-3"></div>
<div class="col-md-6" ng-controller="NewUserCtrl">
    <h3>Registrarse</h3>
    <form role="form" ng-submit="saveRegistro()">
        <div class="form-group">
            <label>Usuario:</label>
            <input type="text" class="form-control" ng-model="user.username" />
        </div>
        <div class="form-group">
            <label>Contraseña:</label>
            <input type="password" class="form-control" ng-model="newPassword" />
        </div>
        <div class="form-group">
            <label>Repetir Contraseña:</label>
            <input type="password" class="form-control" ng-model="newPassword2" />
        </div>
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control" ng-model="user.nombre" />
        </div>
        <div class="form-group">
            <label>Apellidos:</label>
            <input type="text" class="form-control" ng-model="user.apellidos" />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" ng-model="user.email" />
        </div>
        <div class="form-group">
          <label>Entidad</label>
          <div class="row">
          	<div class="col-xs-6">
				<a type="button" class="btn btn-default form-control" ng-class="(user.entidad == 'Municipio') && 'active btn-info'" ng-click="user.entidad = 'Municipio'">Municipio</a>
			</div>
			<div class="col-xs-6">
				<a type="button" class="btn btn-default form-control" ng-class="(user.entidad == 'Organismo Provincial') && 'active btn-info'" ng-click="user.entidad = 'Organismo Provincial'">Organismo Provincial</a>
			</div>
          </div>
        </div>
        <input type="submit" value="Crear Usuario" class="btn btn-primary btn-block" style="margin-bottom: 20px;margin-top: 20px;" />
    </form>
</div>
<div class="col-md-3"></div>