<div class="container" ng-controller="SolicitudConfiguracionCtrl">
  <div class="row">
    <div class="col-md-12">
      <h3>Configuración</h3>
      <div class="card-body" style="margin-bottom: 20px;">
          <div class="col-md-4">
            <div style="font-size: 18px;padding-top: 4px;padding-bottom: 4px;margin-bottom: 10px;margin-left: 22px;">
                <span class="col-md-2" style="width: 130px;">Regiones</span>
                <input type="text" class="form-control" ng-model="nuevoRegi.nombre" placeholder="Agregar..." style="width: 80%; display: inline-block;" />
                <a ng-click="crearRegion()" ng-disabled="!nuevoRegi.nombre" class="btn btn-default"><i class="icon icon-plus"></i></a>
            </div>
            <hr style="margin-bottom: 5px;margin-top: 0px;">
            <div ng-repeat="e in regiones | orderBy:'nombre'">
              <span class="col-md-12">{{e.nombre}}
              <a class="btn btn-link pull-right" href="#" title="Eliminar Región" ng-click="eliminarRegion(e)"><i class="icon-trash"></i></a></span>
            </div>
            <div ng-if="!regiones.length" class="text-center">
              <em>No hay regiones definidas aún</em>
            </div>
          </div>
          <div class="col-md-4">
            <div style="font-size: 18px;padding-top: 4px;padding-bottom: 4px;margin-bottom: 10px;margin-left: 22px;">
                <span class="col-md-2" style="width: 130px;">Segmentos</span>
                <input class="form-control" type="text" ng-model="nuevoSegme.nombre" placeholder="Agregar..." style="width: 80%; display: inline-block;" />
                <a ng-click="crearSegmento()" ng-disabled="!nuevoSegme.nombre" class="btn btn-default"><i class="icon icon-plus"></i></a>
            </div>
            <hr style="margin-bottom: 5px;margin-top: 0px;">
            <div ng-repeat="e in segmentos | orderBy:'nombre'">
              <span class="col-md-12">{{e.nombre}}
              <a class="btn btn-link pull-right" href="#" title="Eliminar Segmento" ng-click="eliminarSegmento(e)"><i class="icon-trash"></i></a></span>
              <hr>
            </div>
            <div ng-if="!segmentos.length" class="text-center">
              <em>No hay segmentos definidos aún</em>
            </div>
          </div>
          <div class="col-md-4">
            <div style="font-size: 18px;padding-top: 4px;padding-bottom: 4px;margin-bottom: 10px;margin-left: 22px;">
                <span class="col-md-2" style="width: 130px;">Partidos</span>
                <input class="form-control" type="text" ng-model="nuevoParti.nombre" placeholder="Agregar..." style="width: 80%; display: inline-block;" />
                <a ng-click="crearPartido()" ng-disabled="!nuevoParti.nombre" class="btn btn-default"><i class="icon icon-plus"></i></a>
            </div>
            <hr style="margin-bottom: 5px;margin-top: 0px;">
            <div ng-repeat="e in partidos | orderBy:'nombre'">
              <span class="col-md-12">{{e.nombre}}
              <a class="btn btn-link pull-right" href="#" title="Eliminar Partido" ng-click="eliminarPartido(e)"><i class="icon-trash"></i></a></span>
              <hr>
            </div>
            <div ng-if="!partidos.length" class="text-center">
              <em>No hay partidos definidos aún</em>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
