
<div class="container-fluid" ng-controller="SolicitudDetalleCtrl">
	<h3 style="margin-bottom: 20px;">
		<span ng-if="!solicitud._id">Nueva Solicitud de Financiamiento</span>
		<span ng-if="solicitud._id">Detalle Solicitud de Financiamiento</span>
		<button class="btn btn-default pull-right" ng-click="editar()" ng-if="(hasPermission('solicitudes.editar') || bool) && !editando"><i class="icon-edit"></i> Editar</button>
		<button class="btn btn-default pull-right" ng-click="guardar()" href="#" ng-show="editando" class="btn btn-default"><i class="icon-ok"></i> Guardar</button>
		<button class="btn btn-default pull-right" style="margin-right: 5px" ng-show="editando && solicitud._id" href="#" ng-click="cancelar(); editando=false" title="Cancelar"><i class="icon-undo"></i> Cancelar</button>

		<a class="btn btn-default pull-right" style="margin-right: 5px" href="#" ng-click="volver()" ng-show="!solicitud._id" href="#" title="Cancelar"><i class="icon-undo"></i> Cancelar</a>

		<a class="btn btn-default pull-right" style="margin-right: 5px" ng-show="editando && solicitud._id" href="#" ng-click="eliminar(false, e._id)" ng-if="hasPermission('solicitudes.eliminar')" title="Eliminar solicitud"><i class="icon-trash"></i> Eliminar</a>
		<a class="btn btn-default pull-right" href="#" ng-click="volver()" ng-show="!editando" style="margin-right: 5px"><i class="icon-arrow-left"></i> Volver</a>
	</h3>


	<div>
		<div class="row">
	    <div class="col-md-6 col-sm-6 col-xs-12">
	      <div class="panel panel-default">
	        <div class="panel-heading clearfix">
	          <h3 class="panel-title">Identificación</h3>
	        </div>
	       
	        <div class="panel-body">
	          <form class="form-horizontal row-border">
	            <div class="form-group">
	              <label class="col-md-4 control-label">Denominación del proyecto <span mac-tooltip="{{denominacion}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <input type="text" class="form-control" ng-disabled="!editando" placeholder="{{denominacion}}" ng-model="solicitud.denominacion">
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.denominacion}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Problema que se busca resolver con el proyecto <span mac-tooltip="{{problema}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <textarea type="text" class="form-control" ng-disabled="!editando" rows="5" placeholder="{{problema}}" ng-model="solicitud.problema" />
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.problema}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Descripción <span mac-tooltip="{{descripcion}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <textarea type="text" class="form-control" ng-disabled="!editando" rows="5" placeholder="{{descripcion}}" ng-model="solicitud.descripcion" />
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.descripcion}}
	              </div>
	            </div>
	            <!--<div class="form-group">
	              <label class="col-md-4 control-label">Provincia <span mac-tooltip="{{provincia}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8">
	                <select class="form-control" ui-select2 ng-disabled="!editando" ng-model="solicitud.provincia" ng-options="i._id as i.nombre for i in provincias | orderBy:'nombre'">
										<option>{{i.nombre}}</option>
							    </select>
	              </div>
	            </div>-->
	            <div class="form-group" ng-show="solicitud.entidad == 'Organismo Provincial'">
	              <label class="col-md-4 control-label">Organismo Provincial</label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <select class="form-control" ng-disabled="!editando" ng-model="solicitud.organismoProvincial" ng-options="i._id as i.nombre for i in organismosProvinciales | orderBy:'nombre'">
							<option>{{i.nombre}}</option>
				    </select>
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{organismoProvincialPorId(solicitud.organismoProvincial)}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Municipios <span mac-tooltip="{{municipio}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	              	<select class="form-control" ui-select2 ng-disabled="!editando" type="text" ng-model="dataMunicipio" ng-options="i._id as i.nombre for i in municipios | filter: filtroMunicipio" ng-click="agregarMunicipio(dataMunicipio)"></select>
	                <div class="btn-group" ng-repeat="e in solicitud.municipios" style="margin-bottom: 5px;margin-left: 0px;margin-right: 5px;">
	                    <button class="btn btn-default active">{{municipioPorId(e)}}</button>
	                    <button class="btn btn-default active" ng-show="editando" ng-click="eliminarListaElem(e, solicitud.municipios)"><i class="icon-remove"></i></button>
	                </div>
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	              	<span ng-repeat="e in solicitud.municipios">{{municipioPorId(e)}}<br></span>
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Beneficios esperados <span mac-tooltip="{{beneficios}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <textarea type="text" class="form-control" ng-disabled="!editando" rows="5" placeholder="{{beneficios}}" ng-model="solicitud.beneficios" />
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.beneficios}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Organismo ejecutor <span mac-tooltip="{{organismo}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <input type="text" class="form-control" ng-disabled="!editando" placeholder="{{organismo}}" ng-model="solicitud.organismoE">
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.organismoE}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Tipo de proyecto <span mac-tooltip="{{tipo}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <select class="form-control" ng-model="solicitud.tipo" ng-disabled="!editando">
						<option ng-disabled="true">{{solicitud.tipo}}</option>
						<option value="Infraestructura energética">Infraestructura energética</option>
						<option value="Infraestructura hídrica">Infraestructura hídrica</option>
						<option value="Conectividad física">Conectividad física</option>
						<option value="Conectividad digital">Conectividad digital</option>
						<option value="Infraestructura productiva">Infraestructura productiva</option>
						<option value="Infraestructura urbana">Infraestructura urbana</option>
						<option value="Infraestructura educativa">Infraestructura educativa</option>
						<option value="Infraestructura en salud">Infraestructura en salud</option>
				    </select>
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.tipo}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Estado del proyecto <span mac-tooltip="{{estadoProyecto}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <select class="form-control" ng-model="solicitud.estadoProyecto" ng-disabled="!editando">
						<option ng-disabled="true">{{solicitud.estadoProyecto}}</option>
						<option value="Idea">Idea</option>
						<option value="Proyecto técnico en formulación">Proyecto técnico en formulación</option>
						<option value="Proyecto técnico finalizado">Proyecto técnico finalizado</option>
						<option value="Completada parcialmente (faltan fases)">Completada parcialmente (faltan fases)</option>
						<option value="Interrumpida sin completar">Interrumpida sin completar</option>
				    </select>
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.estadoProyecto}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Inversión del proyecto</label>
	              <div class="col-md-8">
	              	<select class="form-control" ui-select2 ng-disabled="!editando" type="text" ng-model="dataInversion" ng-options="i for i in listaInversiones | filter: filtroInversiones" ng-click="agregarInversion(dataInversion)"></select>
	                <div class="btn-group" ng-repeat="e in solicitud.inversionProyecto" style="margin-bottom: 5px;margin-left: 0px;margin-right: 5px;">
	                    <button class="btn btn-default active">{{e}}</button>
	                    <button class="btn btn-default active" ng-show="editando" ng-click="eliminarListaElem(e, solicitud.inversionProyecto)"><i class="icon-remove"></i></button>
	                </div>
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Solicitud de financiamiento <span mac-tooltip="{{solicitudFina}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <select class="form-control" ng-model="solicitud.solicitud" ng-disabled="!editando">
						<option ng-disabled="true">{{solicitud.solicitud}}</option>
						<option value="No ha solicitado financiamiento todavía">No ha solicitado financiamiento todavía</option>
						<option value="Ha solicitado financiamiento al gobierno nacional">Ha solicitado financiamiento al gobierno nacional</option>
						<option value="Ha solicitado financiamiento internacional">Ha solicitado financiamiento internacional</option>
				    </select>
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.solicitud}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Organismo financiador al que se presentó <span mac-tooltip="{{organismoF}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <input type="text" class="form-control" ng-disabled="!editando" placeholder="{{organismoF}}" ng-model="solicitud.organismoF">
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.organismoF}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Costo total del proyecto <span mac-tooltip="{{costoRecursos}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool" style="display: table;">
              		<div class="input-group-addon">$</div>
	                <input type="text" class="form-control" ng-disabled="!editando" placeholder="{{costoRecursos}}" ng-model="solicitud.costo">
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                $ {{solicitud.costo}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Recursos solicitados <span mac-tooltip="{{costoRecursos}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool" style="display: table;">
              		<div class="input-group-addon">$</div>
	                <input type="text" class="form-control" ng-disabled="!editando" placeholder="{{costoRecursos}}" ng-model="solicitud.recursos">
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                $ {{solicitud.recursos}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Tiempo de ejecución estimado <span mac-tooltip="{{tiempo}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <input type="text" class="form-control" ng-disabled="!editando" placeholder="{{tiempo}}" ng-model="solicitud.tiempo">
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.tiempo}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Prioridad <span mac-tooltip="{{prioridad}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <select class="form-control" ng-model="solicitud.prioridad" ng-disabled="!editando">
						<option ng-disabled="true">{{solicitud.prioridad}}</option>
						<option value="Muy alta">Muy alta</option>
						<option value="Alta">Alta</option>
						<option value="Media">Media</option>
				    </select>
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.prioridad}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Impacto <span mac-tooltip="{{impacto}}" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <select class="form-control" ng-model="solicitud.impacto" ng-disabled="!editando">
										<option ng-disabled="true">{{solicitud.impacto}}</option>
										<option value="Regional">Regional</option>
										<option value="Vecinal">Vecinal</option>
										<option value="Económico">Económico</option>
							    </select>
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.impacto}}
	              </div>
	            </div>
	            
	            <div class="form-group">
	              <label class="col-md-4 control-label">Solicitud Priorizada</label>
	              <div class="col-md-8">
		              <div class="row">
		              	<div class="col-xs-6" ng-show="hasPermission('ofertas.solicitante') || bool">
											<button class="btn btn-default form-control" ng-class="(solicitud.solicitudPriorizada == 'Si') && 'active btn-info'" ng-click="solicitud.solicitudPriorizada = 'Si'" ng-disabled="!editando">Si</button>
										</div>
										<div class="col-xs-6" ng-show="hasPermission('ofertas.solicitante') || bool">
											<button class="btn btn-default form-control" ng-class="(solicitud.solicitudPriorizada == 'No') && 'active btn-info'" ng-click="solicitud.solicitudPriorizada = 'No'" ng-disabled="!editando">No</button>
										</div>
			              <div class="col-md-12" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
			                {{solicitud.solicitudPriorizada}}
			              </div>
									</div>
	              </div>
	            </div>
	            <div class="form-group" ng-show="solicitud.solicitudPriorizada == 'Si'">
	              <label class="col-md-4 control-label">Comentario <span mac-tooltip="Comentario de la solicitud priorizada" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <textarea type="text" class="form-control" ng-disabled="!editando" rows="3" placeholder="Comentario de la solicitud priorizada" ng-model="solicitud.comentarioPriorizada" />
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.comentarioPriorizada}}
	              </div>
	            </div>
	            <div class="form-group" ng-show="solicitud.solicitudPriorizada == 'Si'">
	              <label class="col-md-4 control-label">Archivo <span mac-tooltip="Archivo de la solicitud priorizada" mac-tooltip-direction="right">(?)</span></label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	              	<div ng-show="solicitud.adjuntoPriorizada">
	              		{{ solicitud.adjuntoPriorizada.nombreArchivo }}
	              		 <a href="/file/{{ solicitud.adjuntoPriorizada.archivoId }}" download="{{ solicitud.adjuntoPriorizada.nombreArchivo }}" target="_blank" class="btn btn-lg btn-default btn-sm"><i class="icon-download-alt"></i></a>
	              	</div>
	                <div ng-show="editando" fine-uploader destination="'/upload/'" placeholder="'Examinar'" uploaded="adjuntoPriorizada"></div>
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{ solicitud.adjuntoPriorizada.nombreArchivo }} <a ng-show="solicitud.adjuntoPriorizada" href="/file/{{ solicitud.adjuntoPriorizada.archivoId }}" download="{{ solicitud.adjuntoPriorizada.nombreArchivo }}" target="_blank" class="btn btn-lg btn-default btn-sm"><i class="icon-download-alt"></i></a>
	              </div>
	            </div>
	          </form>
	        </div>
	      </div>
	    </div>
	    
	    <div class="col-md-6 col-sm-6 col-xs-12">
	      <div class="panel panel-default">
	        <div class="panel-heading clearfix">
	          <h3 class="panel-title">Contacto</h3>
	        </div>
	       
	        <div class="panel-body">
	          <form class="form-horizontal row-border">
	            <div class="form-group">
	              <label class="col-md-4 control-label">Nombre</label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <input type="text" class="form-control" ng-disabled="!editando" ng-model="solicitud.nombre">
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.nombre}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Apellido</label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <input type="text" class="form-control" ng-disabled="!editando" ng-model="solicitud.apellido">
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.apellido}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Correo Electrónico</label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <input type="text" class="form-control" ng-disabled="!editando" ng-model="solicitud.correo">
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.correo}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Teléfono Celular</label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <input type="text" class="form-control" ng-disabled="!editando" ng-model="solicitud.celular">
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.celular}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Función</label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <input type="text" class="form-control" ng-disabled="!editando" ng-model="solicitud.funcion">
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.funcion}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Área</label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <input type="text" class="form-control" ng-disabled="!editando" ng-model="solicitud.area">
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{solicitud.area}}
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-md-4 control-label">Municipio</label>
	              <div class="col-md-8" ng-show="hasPermission('ofertas.solicitante') || bool">
	                <select class="form-control" ng-disabled="!editando" ng-model="solicitud.municipio" ng-options="i._id as i.nombre for i in municipios | orderBy:'nombre'">
							<option>{{i.nombre}}</option>
				    </select>
	              </div>
	              <div class="col-md-8" style="padding-top: 5px;" ng-hide="hasPermission('ofertas.solicitante') || bool">
	                {{municipioPorId(solicitud.municipio)}}
	              </div>
	            </div>
	          </form>
	        </div>
	      </div>
	    </div>
	    
	    
	    <div class="col-md-6 col-sm-6 col-xs-12">
		    <div class="panel panel-default">
		        <div class="panel-heading clearfix">
		          <h3 class="panel-title">Programas propuestos
		          <a class="btn btn-default pull-right" ng-show="(editando && hasPermission('solicitudes.editar'))" ng-click="asignarPrograma()"><i class="icon-plus"></i> Asignar Programa</a></h3>
		        </div>
		       
		        <div class="panel-body">
		          <form class="form-horizontal row-border">
					<div class="form-group">
						<div class="col-md-12" ng-repeat="o in ofertasAsignadas" style="border-bottom: 1px solid #ccc;margin-bottom: 10px;padding-bottom: 5px;">
							<div class="col-md-5" ng-show="solicitud.ofertas.length">
								<div><label>Organismo</label>: {{organismoPorId(o.organismo)}}</div>
			                    <div><label>Operación</label>: {{operacionPorId(o.operacion)}}</div>
			                    <div><label>Saldo</label>: {{o.saldoValor}}</div>
		                    </div>
							<div class="col-md-7" ng-show="solicitud.ofertas.length">
	                    		<a href="#" class="pull-right btn btn-default" style="margin-left: 10px;margin-top:-2px" title="Ver Programa" ng-click="modalPrograma(o)"><i class="icon-zoom-in"></i></a>
	                    		<a href="#" class="pull-right btn btn-default" style="margin-left: 10px;margin-top:-2px" title="Eliminar Programa" ng-show="(editando && hasPermission('solicitudes.editar'))"  ng-click="eliminarPrograma(o)"><i class="icon-trash"></i></a>
								<div ng-show="hasPermission('solicitudes.editar')"><label>Nombre</label>: {{o.nombre}}</div>
			                    <div ng-show="hasPermission('solicitudes.editar')"><label>Apellido</label>: {{o.apellido}}</div>
			                    <div ng-show="hasPermission('solicitudes.editar')"><label>Correo</label>: {{o.correo}}</div>
			                    <div ng-show="hasPermission('solicitudes.editar')"><label>Celular</label>: {{o.celular}}</div>
		                    </div>
									</div>
									<span ng-hide="solicitud.ofertas.length" style="margin-left: 30px;">Pendiente de Asignar Programas</span>
								</div>
		          </form>
		        </div>
		    </div>
		</div>
	    
	    <div class="col-md-6 col-sm-6 col-xs-12">
		    <div class="panel panel-default">
		        <div class="panel-heading clearfix">
		          <h3 class="panel-title">Documentación adjunta</h3>
		        </div>
		       
		        <div class="panel-body">
		          <form class="form-horizontal row-border">
		          	<div class="form-group" ng-show="editando && (hasPermission('solicitudes.solicitante'))">
		              <label class="col-md-4 control-label">Subir archivos</label>
									<div class="col-md-8">
										<div fine-uploader destination="'/upload/'" placeholder="'Examinar'" uploaded="adjunto"></div>
									</div>
								</div>
								<div class="form-group">
									<span ng-hide="solicitud.archivos" style="margin-left: 30px;">No hay archivos cargados.</span>
									<div class="col-md-12" ng-show="solicitud.archivos">
										<table class="table table-bordered table-striped">
											<tr>
												<th>Fecha</th>
												<th>Nombre</th>
												<th>Descargar</th>
											</tr>
											<tr ng-repeat="i in solicitud.archivos  | orderBy : '-desdeDate'">
												<td>{{ dameFecha(i.fecha) }}</td>
												<td>{{ i.nombreArchivo }}</td>
												<td><a href="/file/{{ i.archivoId }}" download="{{ i.nombreArchivo }}" target="_blank" class="btn btn-lg btn-default btn-sm"><i class="icon-download-alt"></i></a></td>
											</tr>
										</table>
									</div>
								</div>
		          </form>
		        </div>
		    </div>
		</div>

	    
	    <div class="col-md-6 col-sm-6 col-xs-12">
	      <div class="panel panel-default">
	        <div class="panel-heading clearfix">
	          <h3 class="panel-title">Estado</h3>
	        </div>
	        <div class="panel-body">
	          <form class="form-horizontal row-border">
	          	<div class="form-group">
	              <div class="col-md-12">
					<div class="row">
						<div class="col-xs-3" style="padding-left: 5px;padding-right: 5px;width: 20%;">
							<button class="btn btn-default form-control" ng-class="(solicitud.estado == 'Sin Oferta') && 'active btn-secondary'" ng-click="solicitud.estado = 'Sin Oferta'" ng-disabled="!editando || !hasPermission('solicitudes.editar')">Sin Oferta</button>
						</div>
						<div class="col-xs-3" style="padding-left: 5px;padding-right: 5px;width: 20%;">
							<button class="btn btn-default form-control" ng-class="(solicitud.estado == 'Solicitado') && 'active btn-info'" ng-click="solicitud.estado = 'Solicitado'" ng-disabled="!editando || !hasPermission('solicitudes.editar')">Solicitado</button>
						</div>
						<div class="col-xs-3" style="padding-left: 5px;padding-right: 5px;width: 20%;">
							<button class="btn btn-default form-control" ng-class="(solicitud.estado == 'Observado') && 'active btn-warning'" ng-click="solicitud.estado = 'Observado'" ng-disabled="!editando || !hasPermission('solicitudes.editar')">Observado</button>
						</div>
						<div class="col-xs-3" style="padding-left: 5px;padding-right: 5px;width: 20%;">
							<button class="btn btn-default form-control" ng-class="(solicitud.estado == 'Pendiente') && 'active btn-danger'" ng-click="solicitud.estado = 'Pendiente'" ng-disabled="!editando || !hasPermission('solicitudes.editar')">Pendiente</button>
						</div>
						<div class="col-xs-3" style="padding-left: 5px;padding-right: 5px;width: 20%;">
							<button class="btn btn-default form-control" ng-class="(solicitud.estado == 'Completado') && 'active btn-success'" ng-click="solicitud.estado = 'Completado'" ng-disabled="!editando || !hasPermission('solicitudes.editar')">Completado</button>
						</div>
					</div>
	              </div>
	            </div>
	          </form>
	        </div>
	      </div>
	    </div>
	    
	    <div class="col-md-6 col-sm-6 col-xs-12">
		    <div class="panel panel-default">
		        <div class="panel-heading clearfix">
		          <h3 class="panel-title">Comentarios
		          <a class="btn btn-default pull-right" ng-show="editando && hasPermission('solicitudes.editar')" ng-click="agregarComentario()"><i class="icon-plus"></i> Comentario</a></h3>
		        </div>
		       
		        <div class="panel-body">
		          <form class="form-horizontal row-border">
		            <div class="form-group">
	                
	                <div ng-hide="solicitud.comentarios.length" style="margin: 20px;">No se ha cargado ningun comentario aún</div>
	                <div ng-repeat="e in solicitud.comentarios | orderBy:'fechaComentario'" style="clear:both; min-height: 40px; margin: 20px;">
	                    <a href="#" ng-show="editando && hasPermission('solicitudes.editar')" class="pull-right btn btn-link" style="margin-left: 10px;margin-top:-2px" title="Eliminar comentario" ng-click="eliminarListaElem(e, instancia.comentarios)"><i class="icon-trash"></i></a>
	                    <div><b>Fecha</b>: {{calcularFecha(e.fechaComentario)}}</div>
	                    <div><b>Comentario:</b> {{e.comentario}}</div>
	                    <div><em>Usuario</em>: {{e.usuario}}</div>
	                    <hr>
	                </div>
	              </div>
		          </form>
		        </div>
		    </div>
		</div>

	    
	  </div>
	</div>

	<div class="modal fade" id="agregarComentario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Agregar Comentario</h4>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                      <label class="control-label">Comentario:</label>
                          <textarea class="form-control" type="text" placeholder="Comentario" ng-model="data.comentario" rows="3"></textarea>
                  </div>
              </div>
              <div class="modal-footer">
                  <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                  <a href="#" class="btn btn-info" data-dismiss="modal" ng-click="agregarComentario(true, data)">Agregar comentario</a>
              </div>
          </div>
      </div>
    </div>

	<div class="modal fade" id="modalPrograma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Programa Asignado</h4>
              </div>
              <div class="modal-body">
              	<div class="row">
				    <div class="col-md-12 col-sm-12 col-xs-12">
				      <div class="panel panel-default">
				        <div class="panel-heading clearfix">
				          <h3 class="panel-title">Identicación</h3>
				        </div>
				       
				        <div class="panel-body">
				          <form class="form-horizontal row-border">
				            <div class="form-group">
				              <label class="col-md-4 control-label">Jurisdicción</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{jurisdiccionPorId(oferta.jurisdiccion)}}
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Organismo Internacional de Crédito</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{organismoPorId(oferta.organismo)}}
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Operación</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{operacionPorId(oferta.operacion)}}
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Programa</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{programaPorId(oferta.programa)}}
				              </div>
				            </div>
				            <!--<div class="form-group">
				              <label class="col-md-4 control-label">Objeto General</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{objetoPorId(oferta.objeto)}}
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Objetivos Específicos</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                <span ng-repeat="e in oferta.objetivos" >
				                    {{objetivoPorId(e)}}<br>
				                </span>
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Componentes</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                <span ng-repeat="e in oferta.componentes">
				                    {{componentePorId(e)}}<br>
				                </span>
				              </div>
				            </div>-->
				            <div class="form-group">
				              <label class="col-md-4 control-label">Municipio</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                <span ng-repeat="e in oferta.municipios">
				                    {{municipioPorId(e)}}<br>
				                </span>
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Proyectos Previos Presentados</label>
				              <div class="col-md-8" style="padding-top: 5px;">
					              {{oferta.proyectosPrevios}}
				              </div>
				            </div>
				            <div class="form-group" ng-show="(oferta.proyectosPrevios == 'Si')">
				              <label class="col-md-4 control-label">Proyectos Presentados</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{oferta.proyectosPreviosC}}
				              </div>
				            </div>
				          </form>
				        </div>
				      </div>
				    </div>
				    
				    <div class="col-md-12 col-sm-12 col-xs-12">
				      <div class="panel panel-default">
				        <div class="panel-heading clearfix">
				          <h3 class="panel-title">Saldo / Fecha</h3>
				        </div>
				       
				        <div class="panel-body">
				          <form class="form-horizontal row-border">
				            <div class="form-group">
				              <label class="col-md-4 control-label">Saldo Valor en Millones</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{oferta.saldoValor}}
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Saldo Fecha</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{oferta.saldoFecha}}
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Fecha de Finalización</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{oferta.fechaFinalizacion}}
				              </div>
				            </div>
				          </form>
				        </div>
				      </div>
				    </div>
				</div>

              </div>
              <div class="modal-footer">
                  <a href="/ofertas/detalle/{{oferta._id}}" class="btn btn-info" ng-show="hasPermission('solicitudes.editar')" target="_blank">Ficha Completa</a>
                  <a href="#" class="btn btn-default" data-dismiss="modal">Cerrar</a>
              </div>
          </div>
      </div>
    </div>

	<!--ASIGNAR PROGRAMA-->
	<div class="modal fade" id="asignarPrograma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Asignar Programa
	                  <a type="bottom" style="margin-right:10px;" class="btn btn-info col-md-2 pull-right" placeholder="Filtros" ng-click="mostrarFiltro=!mostrarFiltro">Filtros</a>
                  </h4>
              </div>
              <div class="modal-body">
              	<form class="form-horizontal row-border" ng-show="mostrarFiltro">
				    <div class="form-group">
			            <div class="col-md-4">
			                Buscar...<br>
			                <input type="text" style="margin-right:10px;" class="form-control search-query" placeholder="Buscar por..." ng-model="filtroAsignar" />
			            </div>
			            <div class="col-md-4">
			                Jurisdicción<br>
			                <select class="form-control" type="text" ng-model="filtro2.jurisdiccion" style="width: 100%;">
			                    <option value=""></option>
			                    <option value="">Todas las jurisdicciones</option>
			                    <option ng-repeat="e in jurisdicciones | orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
			                </select>
			            </div>
			            <div class="col-md-4">
			                Organismo de Crédito<br>
			                <select class="form-control" style="width:100%" type="text" ng-model="filtro2.organismo">
			                    <option value=""></option>
			                    <option value="">Todos los organismos</option>
			                    <option ng-repeat="t in organismos" value="{{t._id}}">{{t.nombre}}</option>
			                </select>
			            </div>
			        </div>
			        <div class="form-group">
			            <div class="col-md-4">
			                Operación<br>
			                <select class="form-control" type="text" ng-model="filtro2.operacion" style="width: 100%;">
			                    <option value=""></option>
			                    <option value="">Todas las operaciones</option>
			                    <option ng-repeat="e in operaciones | orderBy:'nombre'" value="{{e.nombre}}">{{e.nombre}}</option>
			                </select>
			            </div>
			            <div class="col-md-4">
			                Programa<br>
			                <select class="form-control" type="text" ng-model="filtro2.programa" style="width: 100%;">
			                    <option value=""></option>
			                    <option value="">Todos los programas</option>
			                    <option ng-repeat="e in programas | orderBy:'nombre'" value="{{e.nombre}}">{{e.nombre}}</option>
			                </select>
			            </div>
			            <div class="col-md-4">
			                Objeto General<br>
			                <select class="form-control" type="text" ng-model="filtro2.objeto" style="width: 100%;">
			                    <option value=""></option>
			                    <option value="">Todos los objetos</option>
			                    <option ng-repeat="e in objetos | orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
			                </select>
			            </div>
			        </div>
			        <div class="form-group">
			            <div class="col-md-4">
			                Objetivos Específicos <br>
			                <select class="form-control" type="text" ng-model="filtro2.objetivo" style="width: 100%;">
			                    <option value=""></option>
			                    <option value="">Todos los objetivos</option>
			                    <option ng-repeat="e in objetivos| orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
			                </select>
			            </div>
			            <div class="col-md-4">
			                Componentes<br>
			                <select class="form-control" type="text" ng-model="filtro2.componente" style="width: 100%;">
			                    <option value=""></option>
			                    <option value="">Todos los componentes</option>
			                    <option ng-repeat="e in componentes | orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
			                </select>
			            </div>
			            <div class="col-md-4">
			                Gastos Elegibles<br>
			                <select class="form-control" type="text" ng-model="filtro2.gastoElegible" style="width: 100%;">
			                    <option value=""></option>
			                    <option value="">Todos los gastos elegibles</option>
			                    <option ng-repeat="e in gastos | orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
			                </select>
			            </div>
			        </div>
			        <div class="form-group">
			            <div class="col-md-4">
			                Municipio<br>
			                <select class="form-control" type="text" ng-model="filtro2.municipios" style="width: 100%;">
			                    <option value=""></option>
			                    <option value="">Todos los municipios</option>
			                    <option ng-repeat="e in municipios | orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
			                </select>
			            </div>
			            <div class="col-md-4">
			                Proyectos Previos Presentados<br>
				            <div class="row">
				              	<div class="col-xs-6">
									<button class="btn btn-default form-control" ng-class="(filtro2.proyectosPrevios == 'Si') && 'active btn-info'" ng-click="filtro2.proyectosPrevios = 'Si'">Si</button>
								</div>
								<div class="col-xs-6">
									<button class="btn btn-default form-control" ng-class="(filtro2.proyectosPrevios == 'No') && 'active btn-info'" ng-click="filtro2.proyectosPrevios = 'No'">No</button>
								</div>
							</div>
			            </div>
			            <div class="col-md-4" ng-show="(filtro2.proyectosPrevios == 'Si')">
			                Proyectos Presentados<br>
			                <input type="text" class="form-control" ng-model="filtro2.proyectosPreviosC">
			            </div>
			        </div>
			    </form>
                <table id="tablita" class="table table-bordered table-hover">
		            <thead>
		                <tr>
		                    <th ng-click="orden = 'jurisdiccionTexto'">Jurisdicción</th>
		                    <th ng-click="orden = 'operacionTexto'">Operación</th>
		                    <th ng-click="orden = 'programaTexto'">Programa</th>
		                    <th ng-click="orden = 'saldoValor'" style="text-align: center;">Saldo</th>
		                    <th ng-click="orden = 'saldoFecha'" style="text-align: center;">Vencimiento</th>
		                    <th></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="c in ofertas | filter:filtroAsignar | filter:filtro2">
		                    <td>{{c.jurisdiccionTexto}}</td>
		                    <td>{{c.operacion}}</td>
		                    <td>{{c.programa}}</td>
		                    <td style="text-align: right;">{{c.saldoValor}}</td>
		                    <td style="text-align: center;">{{c.saldoFecha}}</td>
		                    <td style="text-align: center;"><a href="/ofertas/detalle/{{c._id}}" target="_blank" class="btn btn-default">Ver</a></td>
		                    <td style="text-align: center;"><a href="#" class="btn btn-info" data-dismiss="modal" ng-click="asignarPrograma(true, c._id)">Asignar</a></td>
		                </tr>
		            </tbody>
		        </table>
              </div>
              <div class="modal-footer">
                  <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
              </div>
          </div>
      </div>
    </div>


	<!--Eliminar solicitud-->
	<div class="modal fade" role="dialog" id="modalEliminar">
		<div class="modal-dialog">
	  	<div class="modal-content col-md-12">
	    	<div class="modal-header">
	      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="card-heading simple">Eliminar solicitud</h4>
	      </div>
	      <div class="modal-body col-md-12">
	      	<p>Está a un paso de eliminar la solicitud.</p>
	      </div>
	      <div class="modal-footer col-md-12">
	      	<button type="button" class="btn btn-info" data-dismiss="modal">Conservar la solicitud</button>
	        <button type="button" class="btn btn-danger" ng-click="eliminar(true)">Eliminar la solicitud</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>