<div class="btn-group pull-right" style="margin-top: 5px; margin-left: 25px; margin-right: 7px">
        <!--<a class="btn btn-default" ng-hide="editando" href="/solicitudes/configuracion" ng-if="(hasPermission('solicitudes.editar'))">
            <i class="icon-cog"></i>&nbsp;Configuración</a>-->
</div>