<div>
  <ul class="nav navbar-nav">
      <li ng-class="{'active': state.current.section == 'solicitudes'}">
        <a href="/solicitudes" style="font-weight: 400;letter-spacing: 0.5px;">SOLICITUDES DE FINANCIAMIENTO</a></li>
  </ul>
</div>