<style type="text/css">
    #tablitaR {
        position: fixed;
        top: 0px; display:none;
        margin: auto;
        background-color: #fff;
    }
    #tablita thead tr th:hover, #tablita tbody tr td:hover {
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    var tableOffset = $("#tablita").offset().top;
    var $header = $("#tablita > thead").clone(true);
    var $fixedHeader = $("#tablitaR").append($header);
    var valores = [];
    $(window).bind("scroll", function() {
        var offset = $(this).scrollTop();

        if (offset >= 113 && $fixedHeader.is(":hidden")) {
            $fixedHeader.show();
            $('#tablitaR').width($('#tablita').width());
            ajustarAncho();
        }
        else if (offset < 113) {            
            $fixedHeader.hide();
        }
    });

    function ajustarAncho() {        
        if(valores.length == 0) {
            $('#tablita thead tr th').each(function() {
                valores.push($(this).width());
            });
            var i = 0;
            $('#tablitaR thead tr th').each(function() {
                $(this).width(valores[i]);
                i++;
            });
        }
    }
</script>
<div ng-controller="SolicitudCtrl" class="card">
    <h3><div style="margin-bottom: 16px;display: inline-block;">Solicitudes de Financiamiento</div>
    <!--Filtro-->
    <a class="btn btn-default pull-right" ng-hide="editando" href="/solicitudes/nuevo" ng-if="(hasPermission('solicitudes.editar') || hasPermission('solicitudes.solicitante'))" style="margin-left: 25px;"><i class="icon-plus"></i>&nbsp;Nueva solicitud</a>
    <!--<a class="btn btn-default pull-right" href="/apps" ng-show="!editando" style="margin-left: 10px"><i class="icon-arrow-left"></i> Volver</a>-->
    <a class="btn btn-default pull-right" href="#" ng-click="exportToExcel()" title="Exportar a Excel"><i class="icon-download-alt"></i> Excel</a>
    <input type="text" style="margin-left:10px; margin-right:10px; width: 180px;" class="form-control search-query pull-right" placeholder="Buscar por..." ng-model="filtro2" />
    
    <div data-toggle="multiselect buttons-radio" class="control-group pull-right col-md-5" style="width: 633px !important;padding-right: 0px;"  ng-hide="hasPermission('solicitudes.solicitante')">
        <div class="btn-group">
            <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-success': (filtro.estado=='Completado') || (filtro.estado=='')}" ng-click="filtro.estado='Completado'">Completado</a>
            <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-info': (filtro.estado=='Solicitado') || (filtro.estado=='') }" ng-click="filtro.estado='Solicitado'">Solicitado</a>
            <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-warning': (filtro.estado=='Observado') || (filtro.estado=='') }" ng-click="filtro.estado='Observado'">Observado</a>
            <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-danger': (filtro.estado=='Pendiente') || (filtro.estado=='') }" ng-click="filtro.estado='Pendiente'">Pendiente</a>
            <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-secondary': (filtro.estado=='Sin Oferta') || (filtro.estado=='') }" ng-click="filtro.estado='Sin Oferta'">Sin Oferta</a>
            <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-primary': (filtro.estado=='') }" ng-click="filtro.estado=''">Todos</a>
        </div>
    </div>

    </h3>
    <!--<div class="col-md-3 pull-right" style="margin-right: 10px; padding: 0">
        <select class="form-control"  ui-select2 type="text" ng-model="filtro2.partido" style="width: 100%;">
            <option value=""></option>
            <option value="">Todos los partidos / departamentos</option>
            <option ng-repeat="e in partidos | filter: {provinciaId:filtro2.provincia} | orderBy:'nombre'" value="{{e._id}}">{{e.nombre}} ({{e.provinciaNombre}})</option>
        </select>
    </div>
    <div class="col-md-2 pull-right" style="margin-right: 10px; padding: 0">
        <select class="form-control" style="width:100%" ui-select2 type="text" ng-model="filtro2.provincia">
            <option value=""></option>
            <option value="">Todas las provincias</option>
            <option ng-repeat="t in provincias" value="{{t._id}}">{{t.nombre}}</option>
        </select>
    </div>-->
    
    <table id="tablitaR" class="table table-bordered"></table>
    <div id="exportable" charset="UTF-8" style="margin-top: 20px;">
        <table id="tablita" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th ng-click="orden = reordenar('programa')">Programas</th>
                    <th ng-click="orden = reordenar('denominacion')">Denominación</th>
                    <th ng-click="orden = reordenar('problema')">Problema</th>
                    <th ng-click="orden = reordenar('descripcion')">Descripción</th>
                    <th ng-click="orden = reordenar('municipio')">Municipio</th>
                    <th ng-click="orden = reordenar('estado')">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in solicitudes | filter:filtro2 | filter:filtro | orderBy:orden" ng-click="verSolicitud(c._id)" ng-style="colorLinea(c)">
                    <td>
                        <span ng-repeat="o in c.ofertas">{{ofertaPorId(o)}}<hr style="margin-top: 5px;margin-bottom: 5px;" ng-hide="$last"></span>
                        <span ng-show="!c.ofertas">Sin Programa</span>
                    </td>
                    <td>{{c.denominacion}}</td>
                    <td>{{c.problema}}</td>
                    <td>{{c.descripcion}}</td>
                    <td><span ng-repeat="m in c.municipios">{{municipioPorId(m)}}<br></span></td>
                    <td style="vertical-align: middle; text-align: center; color: white;" ng-style="colorEstado(c)">{{c.estado}}<span ng-show="(!c.estado && !c.oferta)">Sin Oferta</span></td>
                </tr>
            </tbody>
        </table>
        <div ng-hide="(solicitudes | filter:filtro).length" style="text-align: center;">
            Sin solicitudes cargadas.<br>
            <a class="btn btn-lg btn-default" ng-hide="editando" href="/solicitudes/nuevo" ng-if="(hasPermission('solicitudes.editar') || hasPermission('solicitudes.solicitante'))" style="margin-top: 25px;"><i class="icon-plus"></i>&nbsp;Nueva solicitud</a>
        </div>
    </div>
</div>