<div class="container-fluid" ng-controller="MunicipiosCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 panel panel-default" style="padding-left: 0px;
    padding-right: 0px;">
            <div class="panel-heading">
                <h2 class="panel-title">Configuración</h2>
            </div>
            <div class="panel-body">
                <center><a class="btn btn-lg btn-default btn-block" style="height: 50px;display: -webkit-flex;display: inline-flex;align-items: center;justify-content: center;padding-right: 5px;font-size: 19px;margin-bottom: 20px;" 
					href="/configuracion/municipios">
				      Municipios
				  </a></center>
                <center><a class="btn btn-lg btn-default btn-block" style="height: 50px;display: -webkit-flex;display: inline-flex;align-items: center;justify-content: center;padding-right: 5px;font-size: 19px;margin-bottom: 20px;" 
					href="/configuracion/organismosProvinciales">
				      Organismos Provinciales
				  </a></center>
                <center><a class="btn btn-lg btn-default btn-block" style="height: 50px;display: -webkit-flex;display: inline-flex;align-items: center;justify-content: center;padding-right: 5px;font-size: 19px;margin-bottom: 20px;" 
					href="/configuracion/jurisdicciones">
				      Jurisdicciones
				  </a></center>
                <center><a class="btn btn-lg btn-default btn-block" style="height: 50px;display: -webkit-flex;display: inline-flex;align-items: center;justify-content: center;padding-right: 5px;font-size: 19px;margin-bottom: 20px;" 
					href="/configuracion/ofertas">
				      Ofertas
				  </a></center>
            </div>
        </div>
    </div>
</div>

