<ul class="nav navbar-nav">
    <li ng-class="{'active': state.current.section == 'configuracion'}">
      <a ng-href="/configuracion" style="font-weight: 400;letter-spacing: 0.5px;">CONFIGURACIÓN</a></li>
    <li ng-class="{'active': state.current.section == 'municipios'}">
      <a ng-href="/configuracion/municipios" style="font-weight: 400;letter-spacing: 0.5px;">MUNICIPIOS</a></li>
    <li ng-class="{'active': state.current.section == 'organismosProvinciales'}">
      <a ng-href="/configuracion/organismosProvinciales" style="font-weight: 400;letter-spacing: 0.5px;">ORGANISMOS PROVINCIALES</a></li>
    <li ng-class="{'active': state.current.section == 'jurisdicciones'}">
      <a ng-href="/configuracion/jurisdicciones" style="font-weight: 400;letter-spacing: 0.5px;">JURISDICCIONES</a></li>
    <li ng-class="{'active': state.current.section == 'ofertas'}">
      <a ng-href="/configuracion/ofertas" style="font-weight: 400;letter-spacing: 0.5px;">OFERTAS</a></li>
</ul>