<div class="container-fluid" ng-controller="AdminCtrl">
	<div class="row-fluid">
		<div class="panel col-md-4 col-md-offset-4">
			<h3>Zona para administradores</h3>
			<div class="panel-body">
				<div class="control-group">
					<a class="btn btn-block btn-link" style="text-align: left" href="/admin/users"><i class="icon-group"></i>&nbsp;Administrar usuarios</a>
					<a class="btn btn-block btn-link" style="text-align: left" href="/admin/reportes"><i class="icon-list-alt"></i>&nbsp;Reportes</a>
				</div>
			</div>
		</div>
	</div>
</div>