<ul class="nav navbar-nav">
    <li ng-class="{'active': state.current.section == 'users'}">
        <a ng-href="/admin/users" style="font-weight: 400;letter-spacing: 0.5px;">USUARIOS</a>
    </li>
</ul>