<style type="text/css">
	.botonPrincipal {
		height: 180px;
		width: 180px; 
		font-size:20px; 
		display: -webkit-flex;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding-left: 5px;
    padding-right: 5px;
	}
</style>

<center><div style="" ng-controller="AppsCtrl">
	<div style="position: fixed; background-image: url('/bootstrap-3.4/rn7.jpg'); bottom: 0px; left: 0px; right: 0px; top: 55px; z-index: -100;"> </div>
  <div style="text-align: center;padding-right: 5px;" ng-show="username">
  	
    <div style="position:absolute; width:49%; bottom:10px; top:70px; left:25%">
    	<div ng-repeat="a in apps | orderBy:'orden'" style="margin-bottom: 20px;" ng-if="hasPermission(a.permission)">
				  <center><a class="btn btn-lg btn-default btn-block" style="height: 100px;display: -webkit-flex;display: inline-flex;align-items: center;justify-content: center;padding-right: 5px;font-size: 19px;" 
					href="{{a.url}}">
				      {{a.name}}
				  </a></center>
			</div>

  		<!--<div ng-repeat="a in apps | orderBy:'name'" style="display: inline-block;">
			  <div ng-if="hasPermission(a.permission)" style="width: 180px;display: inline-block;margin-right: 10px;margin-bottom: 10px;">
				  <a class="btn btn-lg btn-default btn-block botonPrincipal" href="{{a.url}}">
				      {{a.name}}
				  </a>
				</div>
			</div>-->
  	</div>
    
  </div>
  <center>
  	<div class="panel panel-default animated bounceInDown" style="width: 600px;margin-top: 40px;" ng-hide="username">
			<div class="panel-body">
				<center>
					<h3>UPCEFE - Río Negro</h3>
					<br><br>
					<a class="btn btn-lg btn-default btn-block" style="width: 550px;" href="/login">Inicie sesión</a>
					<br><br>
					<a class="btn btn-lg btn-default btn-block" style="width: 550px;" href="/registrarse">Registrarse</a>
				</center>
        <!--<div class="card-actions" id="cardActions" style="margin-top: 20px; text-align: center;">
            <a href="/olvideContrasena">Olvidé mi contraseña&nbsp;</a>
        </div>-->
			</div>
		</div>
	</center>
		
	<!--POPUP-->
	<div class="modal fade" role="dialog" id="modalPopup">
		<div class="modal-dialog">
	  	<div class="modal-content col-md-12">
	    	<div class="modal-header">
	      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="card-heading simple">Bienvenido</h4>
	      </div>
	      <div class="modal-body col-md-12">
	      	<p ng-show="texto=='Externo'">Esta Herramienta tiene como objetivo informar acerca de la cartera de financiamiento multilateral y regional disponible en Argentina y en particular, para la Provincia de Río Negro, con el propósito de identificar fuentes que podrían financiar proyectos presentados a nivel provincial y municipal.</p>
	      	<p ng-show="texto=='Interno'">Esta Herramienta tiene como objetivo informar acerca de las solicitudes de financiamiento multilateral y regional disponible en Argentina y en particular, para la Provincia de Río Negro, con el propósito de identificar las necesidades que podrían financiar a nivel provincial y municipal.</p>
	      </div>
	      <div class="modal-footer col-md-12">
	      	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
		
</div></center>
    