<div ng-controller="LoginCtrl">
    <div style="position: fixed; background-image: url('/bootstrap-3.4/rn7.jpg'); bottom: 0px; left: 0px; right: 0px; top: 55px; z-index: -100;"> </div>
    <style type="text/css">
    .form-signin {
        border: 1px solid #D8D8D8;
        border-bottom-width: 2px;
        border-top-width: 0;
        background-color: #FFF;
        max-width: 350px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #DFDCEE;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .form-signin .form-signin-heading {
        font-size: 24px;
        font-weight: 300;
    }
    .form-signin .form-signin-heading, .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .signin-password {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
    }
    #todo{
        position:absolute;
        left:50%;
        margin-left:-195px;
        width:370px;
    }
    input:focus{
        /*Borde celeste al hacerles focus */
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
        border-color: rgba(82, 168, 236, 0.8) !important;
    }
    #cardActions{
        padding-left:0;
        padding-right:0;
    }
    #cardActions>button{
        width:100%;
    }
    #reCaptcha{
        margin-bottom:20px;
        transform:scale(1.09);
        transform-origin:0 0
        }
    form{
        margin-bottom:5px;
    }
    #confirme{
        background-color: rgba(158, 157, 155, 0.74);
        font-size: 1.5em;
        width: 150px;
        color: white;
        position: absolute;
        top: 162px;
        z-index: 1;
        left: -140px;
        padding: 5px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 0px 30px rgba(151, 151, 149, 0.74);
    }
    .flecha-right{ /*Armar flecha */ 
        border-bottom: 10px solid transparent;
        border-top: 10px solid rgba(221, 10, 10, 0);
        border-left: 20px solid #B7B6B5;
        position: absolute;
        left: 160px;
        top: 14px;
    }

    </style>
    <script type="text/javascript">
        var widgetId1;
        var onloadCallback = function() 
        {
            widgetId1 = grecaptcha.render(document.getElementById('reCaptcha'), {
            'sitekey' : '6Ldwdr4ZAAAAAMvx79Tmzs40R3WP4d4vqi--FcD4',
            'theme' : 'light',
            'style' : 'transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;'
        });
        $('yourIframe').contents().find('#yourItemYouWantToChange').css({
            opacity: 0,
            color: 'purple'
        });
    };
    </script>
    
    <center><div class="panel panel-default animated bounceInDown" style="width: 500px;" id="todo">
      <div>
          <center><h3 style="margin-left: 10px;margin-right: 10px;">UPCEFE - Río Negro</h3></center><br>
      </div>
      <div class="panel-heading">
        <h2 class="panel-title">Inicie sesión</h2>
      </div>
      <div class="panel-body" style="text-align: left;">
            <form class="card-body animated bounceInDown" ng-submit="login()">
                <div class="form-group">
                    <label>Usuario:</label>
                    <input type="text" class="form-control" ng-model="username" placeholder="Usuario" autofocus required="required"/>
                </div>
                <div class="form-group">
                    <label>Contraseña:</label>
                    <input type="password" ng-model="password" class="form-control" placeholder="¡Que no mire nadie!" required="required">
                </div>
                <div id="confirme" ng-show="confirme" class="animated bounceInDown">
                    <div class="flecha-right"></div>
                    <span>Confirme que no es un robot</span>
                </div>
                <div id="reCaptcha" ng-show="mostrarCaptcha"></div>
                <div class="card-actions" id="cardActions" style="margin-top: 20px;">
                    <button class="btn btn-default" type="submit">Iniciar sesión&nbsp;</button>
                </div>
                <div ng-show="working" class="alert alert-info">
                    <i class="icon-spinner icon-spin"></i>&nbsp;Verificando credenciales...
                </div>
                <div ng-show="error" class="alert alert-error">
                    <i class="icon-warning-sign"></i>&nbsp;Ha ocurrido un error, verifique los datos ingresados
                </div>
            </form>
            <div class="card-actions" id="cardActions" style="margin-top: 20px;">
                <a class="btn btn-default btn-block" type="bottom" href="/registrarse">Registrarse&nbsp;</a>
            </div>
            <!--<div class="card-actions" id="cardActions" style="margin-top: 20px; text-align: center;">
                <a href="/olvideContrasena">Olvidé mi contraseña&nbsp;</a>
            </div>-->
      </div>
    </div></center>
    
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"async defer></script> <!--Al cargar la biblioteca, ejecutar funcion para agregarle color"-->
</div>