<style type="text/css">
  .dropdown {
    position: inline;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
  }
  .dropdown-content a {
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
<nav class="navbar navbar-default" role="navigation">
  <div class="pull-right" style="margin-right: 15px;margin-top: 5px;" ng-include="'/views/auth/navbar-user.html'" />
  <div ui-view="navbar-extra-right"></div>
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <img title="SOFEP V. 1.0" class="pull-left" src="/bootstrap-3.4/logo5.png" style="width: 155px;margin-right: 20px;margin-top: 6px;" />
      </div>
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav" ng-controller="AppsCtrl">
          <li class="dropdown" ng-class="{active: state.current.section == 'apps'}">
            <a href="/apps" style="font-weight: 400;letter-spacing: 0.5px;">INICIO </a>
            <!--<div class="dropdown-content" style="width: 210px;">
              <div ng-repeat="a in apps | orderBy:'name'">
                <a ng-if="hasPermission(a.permission)" href="{{a.url}}">{{a.name}}</a>
              </div>-->
          </li>
        </ul>
        <div ui-view="navbar-extra-left"></div>
      </div>
    </div>
  </div>
</nav>