<div ng-controller="cambiarContrasennaCtrl" style="margin-left:0px; left:27%; top:20%;">
    <h3 align="center">Cambiar Contraseña</h3>
    <div align="center">
        <form>
            <div class="controls-group">
                <label>Usuario:</label>
                <input type="text" class="form-control" disabled class="input-large" ng-model="usuario.username" style="width: 200px;" />
            </div>
            <div class="controls-group">
                <label>Nueva clave:</label>
                <input type="password" class="form-control" ng-model="nuevaContrasenna" autofocus placeholder="contraseña" required minlength="3" style="width: 200px;" />
                <label>Repita clave:</label>
                <input type="password" class="form-control" ng-model="nuevaRepetidaContrasenna" required minlength="3" ng-style="set_style" style="width: 200px;" />
            </div> 
            <input class="btn btn-primary" type="submit" value="Cambiar clave" onkeypress="save()" ng-click="save()" style="margin-top: 15px;" />
        </form>
    </div>
</div>