<div class="container" ng-controller="OfertaConfiguracionCtrl">
  <div class="row">
    <div class="col-md-12">
      <h3>Configuración</h3>
      <div class="card-body" style="margin-bottom: 20px;">
          <div class="col-md-4" style="margin-bottom: 30px;">
            <div style="font-size: 18px;padding-top: 4px;padding-bottom: 4px;margin-bottom: 10px;margin-left: 22px;">
                <span class="col-md-2" style="width: 130px;">Organismos</span>
                <input class="form-control" type="text" ng-model="nuevoOrga" placeholder="Agregar..." style="width: 80%; display: inline-block;" />
                <a ng-click="crearOrganismo()" ng-disabled="!nuevoOrga" class="btn btn-default"><i class="icon icon-plus"></i></a>
            </div>
            <hr style="margin-bottom: 5px;margin-top: 0px;">
            <div ng-repeat="e in organismos | orderBy:'nombre'">
              <span class="col-md-12">{{e.nombre}}
              <a class="btn btn-link pull-right" href="#" title="Eliminar Organismo" ng-click="eliminarOrganismo(e)"><i class="icon-trash"></i></a></span>
              <hr>
            </div>
            <div ng-if="!organismos.length" class="text-center">
              <em>No hay organismos definidos aún</em>
            </div>
          </div>
          <div class="col-md-4" style="margin-bottom: 30px;">
            <div style="font-size: 18px;padding-top: 4px;padding-bottom: 4px;margin-bottom: 10px;margin-left: 22px;">
                <span class="col-md-2" style="width: 130px;">Sectores</span>
                <input class="form-control" type="text" ng-model="nuevoSect" placeholder="Agregar..." style="width: 80%; display: inline-block;" />
                <a ng-click="crearSector()" ng-disabled="!nuevoSect" class="btn btn-default"><i class="icon icon-plus"></i></a>
            </div>
            <hr style="margin-bottom: 5px;margin-top: 0px;">
            <div ng-repeat="e in sectores | orderBy:'nombre'">
              <span class="col-md-12">{{e.nombre}}
              <a class="btn btn-link pull-right" href="#" title="Eliminar Sector" ng-click="eliminarSector(e)"><i class="icon-trash"></i></a></span>
              <hr>
            </div>
            <div ng-if="!sectores.length" class="text-center">
              <em>No hay sectores definidos aún</em>
            </div>
          </div>
          <div class="col-md-4" style="margin-bottom: 30px;">
            <div style="font-size: 18px;padding-top: 4px;padding-bottom: 4px;margin-bottom: 10px;margin-left: 22px;">
                <span class="col-md-2" style="width: 130px;">Componentes</span>
                <input class="form-control" type="text" ng-model="nuevoComp" placeholder="Agregar..." style="width: 80%; display: inline-block;" />
                <a ng-click="crearComponente()" ng-disabled="!nuevoComp" class="btn btn-default"><i class="icon icon-plus"></i></a>
            </div>
            <hr style="margin-bottom: 5px;margin-top: 0px;">
            <div ng-repeat="e in componentes | orderBy:'nombre'">
              <span class="col-md-12">{{e.nombre}}
              <a class="btn btn-link pull-right" href="#" title="Eliminar Componente" ng-click="eliminarComponente(e)"><i class="icon-trash"></i></a></span>
              <hr>
            </div>
            <div ng-if="!componentes.length" class="text-center">
              <em>No hay componentes definidos aún</em>
            </div>
          </div>
          <div class="col-md-4" style="margin-bottom: 30px;">
            <div style="font-size: 18px;padding-top: 4px;padding-bottom: 4px;margin-bottom: 10px;margin-left: 22px;">
                <span class="col-md-2" style="width: 180px;">Gastos Elegibles</span>
                <input class="form-control" type="text" ng-model="nuevoGast" placeholder="Agregar..." style="width: 80%; display: inline-block;" />
                <a ng-click="crearGasto()" ng-disabled="!nuevoGast" class="btn btn-default"><i class="icon icon-plus"></i></a>
            </div>
            <hr style="margin-bottom: 5px;margin-top: 0px;">
            <div ng-repeat="e in gastos | orderBy:'nombre'">
              <span class="col-md-12">{{e.nombre}}
              <a class="btn btn-link pull-right" href="#" title="Eliminar Gasto" ng-click="eliminarGasto(e)"><i class="icon-trash"></i></a></span>
              <hr>
            </div>
            <div ng-if="!gastos.length" class="text-center">
              <em>No hay gastos elegibles definidos aún</em>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
