<div class="container-fluid" ng-controller="OrganismosProvincialesCtrl">
    <div class="row-fluid">
        <div class="col-md-2 panel panel-default" style="padding-left: 0px; padding-right: 0px; margin-left: 20px; margin-right: 50px;">
            <div class="panel-heading">
                <h3 class="panel-title">Organismos Provinciales</h3>
            </div>
            <div class="panel-body">
                <!-- Panel izquierdo -->
                <input type="text" class="form-control" ng-model="nuevoOrga" placeholder="Agregar..." style="width: 80%; display: inline-block;" />
                <a ng-click="crearOrganismo()" ng-disabled="!nuevoJuri" class="btn btn-default"><i class="icon icon-plus"></i></a>
            </div>
        </div>
        <div class="col-md-9" style="padding-top: 0px;">
            <table style="width: 100%;">
                <tr style="border-bottom: solid 2px grey;">
                    <td>Nombre:</td>
                    <td>Funcionario:</td>
                    <td>Título Funcionario:</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-repeat="c in organismosProvinciales | orderBy:'nombre' | filter:filtro" style="border-bottom: solid 1px grey;">
                    <td>{{c.nombre}}</td>
                    <td>{{c.funcionario}}</td>
                    <td>{{c.tituloFuncionario}}</td>
                    <td><a ng-click="ver(c)" class="btn btn-link pull-right" ><i class="icon-zoom-in"></i> Ver detalle</a></td>
                    <td><a class="btn btn-link pull-right" href="#" title="Eliminar" ng-click="eliminarOrganismo(c)"><i class="icon-trash"></i></a></td>
                </tr>
            </table>
            <div class="row-fluid" ng-show="!jurisdicciones.length">No hay ningun organismo.</div>
        </div>
    </div>
</div>

