<div class="card" ng-controller="ReportePrincipalCtrl"> 
    <div class="container-fluid">
        <h3 class="card-heading simple no-print" style="padding-left: 0px; margin-top: 0px;padding-right: 0px;height: 45px;margin-bottom: 10px;">
            <ul class="nav nav-pills">
                <li ng-class="{'active': tab == 'ofertas'}">
                    <a ng-click="tab='ofertas'" href="#" data-toggle="tab">Ofertas</a>
                </li>
                <li ng-class="{'active': tab == 'solicitudes'}">
                    <a ng-click="tab='solicitudes'" href="#" data-toggle="tab">Solicitudes</a>
                </li>
                <!--<li ng-class="{'active': tab == 'mapa'}">
                    <a ng-click="tab='mapa'" href="#" data-toggle="tab">Mapa</a>
                </li>-->
                <li ng-class="{'active': tab == 'usuarios'}">
                    <a ng-click="tab='usuarios'" href="#" data-toggle="tab">Usuarios</a>
                </li>
            </ul>
        </h3>
        <div ng-if="tab == 'ofertas'" class="card-body" ng-include src="'/views/reportes/ofertas.html'"></div>
        <div ng-if="tab == 'solicitudes'" class="card-body" ng-include src="'/views/reportes/solicitudes.html'"></div>
        <div ng-if="tab == 'mapa'" class="card-body" ng-include src="'/views/reportes/mapa.html'"></div>
        <div ng-if="tab == 'usuarios'" class="card-body" ng-include src="'/views/reportes/usuarios.html'"></div>
    </div>
</div>