<style>
    .table {
        border: 1px solid;
    }
    .table th, .table td {
        padding: 8px;
        line-height: 20px;
        text-align: left;
        vertical-align: middle;
        border: 1px solid;
        font-family: "DIN Next", Roboto, arial, sans-serif;
    }
    .table th {
        background-color: #dddddd !important;
    }
    a:link{ color: #3B3537; text-decoration: none}
    a:active{ color: #3B3537; text-decoration: none}
    a:visited{ color: #3B3537; text-decoration: none}
    a:hover{ color: #3B3537; text-decoration: underline}
    
    div.indicadorEstado {
        -moz-border-radius-topleft:9px;
        -moz-border-radius-topright:9px;
        -moz-border-radius-bottomleft:9px;
        -moz-border-radius-bottomright:9px;
        
        -webkit-border-top-left-radius:9px;
        -webkit-border-top-right-radius:9px;
        -webkit-border-bottom-left-radius:9px;
        -webkit-border-bottom-right-radius:9px;
        background-color: #CCCCCC;
        border: 1px solid #CCCCCC;
        width:17px;
        height:17px;
        padding:0px;
    }
    #map { height: 100%; }
    
</style>

<div class="container-fluid" ng-controller="ReporteMapaCtrl">
  <a class="btn btn-info pull-right" href="#" ng-click="limpiarFiltros()" title="Limpiar Filtros" style="position: absolute;left: 310px;z-index: 1;top: 10px;min-height: 40px;min-width: 173px;padding-top: 8px;color:white;">Limpiar Filtros</a>
  <div class="panel panel-default" ng-show="haySeleccionadoCuadro" style="position: absolute;right: 10px;z-index: 1;top: 10px;min-height: 33px;width:300px;padding-top: 10px;padding-left: 10px;padding-right: 10px;padding-bottom: 10px;">
      <span style="font-size: 18px;">{{cuadro.nombre}}</span>
      <hr style="margin-top: 10px;margin-bottom: 10px;">
      Departamento: <b>{{cuadro.departamento}}</b><br>
      Población: <b>{{cuadro.poblacion}}</b><br>
      Población Fecha: <b>{{cuadro.poblacionFecha}}</b><br>
      Superficie: <b>{{cuadro.superficie}}</b><br>
      Intendente: <b>{{cuadro.intendente}}</b><br>
      Partido Político: <b>{{cuadro.partidoPolitico}}</b><br>
      Latitud: <b>{{cuadro.lat}}</b><br>
      Longitud: <b>{{cuadro.lng}}</b><br>
  </div>
  
  <div class="card" style="position: absolute;top: 0px;left: 0px;bottom: 0px;width: 300px;margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;padding-top: 0px;background-color: #B2D235;">
      <table class="table" style="margin-bottom: 0px;border:0">
          <tr>
              <td style="border:0"><img src="/bootstrap-3.4/logo5.png" onclick="history.back();" style="height: 50px;margin: 15px;"></td>
          </tr>
          <tr>
              <td style="color: #585859;font-size: 23px;font-weight: 600;line-height: 24px;border:0;padding-top: 2px;padding-bottom: 2px;">
                  <center>{{nombrePlan}}</center>
              </td>
          </tr>
          <tr>
              <td style="color: #585859;line-height: 24px;border:0">
                  <center>
                  <div style="margin-bottom: 5px;">
                      <select ui-select2 id="s1" style="width: 240px;font-size:14px" type="text" ng-model="filtro.solicitudes" ng-click="filtrar();seleccionoSolicitud()">
                          <option value="">Todas las Solicitudes..</option>
                          <option ng-repeat="i in solicitudes | filter:filtroJuris | filter:filtroJuris2 | orderBy:'denominacion'" value="{{i._id}}">{{i.denominacion}}</option>
                      </select>
                  </div>
                  <div style="margin-bottom: 5px;">
                      <select ui-select2 id="s2" style="width: 240px;font-size:14px" type="text" ng-model="filtro.ofertas" ng-click="filtrar();seleccionoOferta()">
                          <option value="">Todos los Ofertas..</option>
                          <option ng-repeat="i in ofertas | filter:filtroOfertas2 | filter:filtroOfertas3 | orderBy:'programa'" value="{{i._id}}">{{i.programa}}</option>
                      </select>
                  </div>
                  <div style="margin-bottom: 5px;">
                      <select ui-select2 id="s3" style="width: 240px;font-size:14px" type="text" ng-model="filtro._id" ng-click="filtrar()">
                          <option value="">Todos los Municipios..</option>
                          <option ng-repeat="i in localidades | filter:filtroLocali | filter:filtroLocali2 | orderBy:'nombre'" value="{{i._id}}">{{i.nombre}}</option>
                      </select>
                  </div>
                  </center>
              </td>
          </tr>
          <tr>
              <td style="color: #585859; font-size: 21px; font-weight: 600;line-height: 24px;border:0">
                  <center ng-if="haySeleccionado">{{seleccionado.nombre}}</center>
                  <div style="font-size: 18px;overflow-y: auto;margin-top: 10px;position: absolute;top: 288px;left: 8px;width: 280px;bottom: 48px;" ng-if="haySeleccionado">
                      <a ng-show="filtro.solicitudes==''" class="btn btn-link" data-toggle="collapse" data-target="#solicitudes" style="font-size: 18px;padding-left: 0px;padding-right: 0px;color: #585859;">
                          Solicitudes: {{seleccionado.solicitudes.length}}
                      </a>
                      <div ng-show="filtro.solicitudes==''" id="solicitudes" class="collapse">
                          <div ng-repeat="j in seleccionado.solicitudes" style="font-size: 15px; margin-left: 10px;border-bottom: 1px solid #777777;">
                              <a href="#" ng-click="verDetalleSolicitud(j)" style="color: #585859;">{{solicitudPorId(j).denominacion}}</a>
                          </div>
                      </div>
                      <center ng-if="filtro.solicitudes">{{solicitudPorId(filtro.solicitudes).nombre}}</center>
                      <a class="btn btn-link" data-toggle="collapse" data-target="#ofertas" style="font-size: 18px;padding-left: 0px;padding-right: 0px;color: #585859;">
                          Ofertas: {{(seleccionado.ofertas | filter:filtroOfertas).length}}
                      </a>
                      <div id="ofertas" class="collapse">
                          <div ng-repeat="p in seleccionado.ofertas | filter:filtroOfertas" style="font-size: 15px; margin-left: 10px;border-bottom: 1px solid #777777;">
                              <a href="#" ng-click="verDetalle(p)" style="color: #585859;">{{ofertaPorId(p).programa}}</a>
                          </div>
                      </div>
                  </div>
                  <div style="font-size: 19px;overflow-y: auto;margin-top: 10px;position: absolute;top: 255px;left: 8px;width: 280px;bottom: 48px;" ng-if="hayOfertaSeleccionado">
                      <center>{{ofertaSeleccionado.nombre}}</center>
                      <center style="font-size: 16px;">{{solicitudPorId(ofertaSeleccionado.idSolicitud).nombre}}</center>
                      <a class="btn" style="color: #585859;display: block;margin-left: 50px;margin-right: 50px;margin-top: 5px;" href="#" ng-click="verDetalle(ofertaSeleccionado._id)">
                          Ver Detalle
                      </a>
                      <a class="btn btn-link" data-toggle="collapse" data-target="#municipios" style="font-size: 16px;padding-left: 0px;padding-right: 0px;color: #585859;">
                          Municipios: {{ofertaSeleccionado.localidades.length}}
                      </a>
                      <div id="municipios" class="collapse">
                          <div ng-repeat="m in ofertaSeleccionado.localidades" style="font-size: 15px; margin-left: 10px;border-bottom: 1px solid #777777;">
                              <a href="#" style="color: #585859;">{{municipioPorId(m).nombre}}</a>
                          </div>
                      </div>
                  </div>
                  
                  <div style="font-size: 18px;overflow-y: auto;margin-top: 10px;position: absolute;top: 255px;left: 8px;width: 280px;bottom: 48px;" ng-if="haySolicitudSeleccionada">
                      <center>{{solicitudSeleccionada.nombre}}</center>
                      <a class="btn btn-link" data-toggle="collapse" data-target="#ofertas" style="font-size: 16px;padding-left: 0px;padding-right: 0px;color: #585859;">
                          Ofertas: {{(ofertas | filter:{idSolicitud:solicitudSeleccionada._id}).length}}
                      </a>
                      <div id="ofertas" class="collapse">
                          <div ng-repeat="p in ofertas | filter:{idsolicitud:solicitudSeleccionada._id}" style="font-size: 15px; margin-left: 10px;border-bottom: 1px solid #777777;">
                              <a href="#" ng-click="verDetalle(p._id)" style="color: #585859;">{{p.nombre}}</a>
                          </div>
                      </div>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="border:0">
                  <a class="btn pull-right" href="/reportes" title="Volver" style="position: absolute; left: 10px; bottom: 10px;"><i class="icon-arrow-left"></i> Volver</a>
              </td>
          </tr>
      </table>
  </div>
  <div class="card" style="position: absolute;top: 0px;left: 300px;right: 0px;bottom: 0px;margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;padding-top: 0px;" onload="getMap()">
      <div id="map"></div>
  </div>
</div>
