<ul class="nav navbar-nav">
    <li ng-class="{'active': state.current.section == 'reportes'}">
      <a ng-href="/reportes" style="font-weight: 400;letter-spacing: 0.5px;">REPORTE EJECUTIVO</a></li>
    <li ng-class="{'active': state.current.section == 'mapa'}">
      <a ng-href="/reportes/mapa" style="font-weight: 400;letter-spacing: 0.5px;">MAPA</a></li>
</ul>