<div class="container-fluid" ng-controller="ReportesSolicitudesCtrl">
    <div style="position: absolute; bottom: 10px; top: 135px; right: 10px; left: 10px; overflow-x: auto;" id="contienePrincipal">
        <div class="col-md-8">
        	<center>
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding-top: 5px;padding-bottom: 5px;font-size: 20px;">
	                    <b>Montos por Estado de Solicitudes</b>
	                </div>
                    <div class="panel-body" style="padding: 0px;">
                        <nvd3 options="options" data="data"></nvd3>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-md-4">
        	<center>
                <div class="panel panel-default" style="margin-bottom: 10px;">
                    <div class="panel-body" style="padding: 0px;">
                        <table class="table table-striped" width="100%" style="margin-bottom: 0px;text-align: center;">
                            <tr>
                                <th>Estado</th>
                                <th style="text-align: center;">Costo Total</th>
                            </tr>
                            <tr ng-repeat="c in estados">
                                <th>{{c.nombre}}</th>
                                <td>{{formatMiles(c.total) || "0"}}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <th style="text-align: center;">{{formatMiles(totalMonto)}}</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </center>
        </div>
        <hr>
        <div class="col-md-8">
        	<center>
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding-top: 5px;padding-bottom: 5px;font-size: 20px;">
	                    <b>Solicitudes por Estado</b>
	                </div>
                    <div class="panel-body" style="padding: 0px;">
                        <nvd3 options="options2" data="data2"></nvd3>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-md-4">
        	<center>
                <div class="panel panel-default" style="margin-bottom: 10px;">
                    <div class="panel-body" style="padding: 0px;">
                        <table class="table table-striped" width="100%" style="margin-bottom: 0px;text-align: center;">
                            <tr>
                                <th>Estado</th>
                                <th style="text-align: center;">Cantidad Solicitudes</th>
                            </tr>
                            <tr ng-repeat="c in estados">
                                <th>{{c.nombre}}</th>
                                <td>{{(c.cantidad) || "0"}}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <th style="text-align: center;">{{totalSolicitudes}}</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>

