<div class="container-fluid" ng-controller="ReporteTiempoCtrl">
  <div style="position: absolute; bottom: 10px; top: 135px; right: 10px; left: 10px; overflow-x: auto;" id="contienePrincipal">
    <div class="card-actions pull-right" ng-hide="editando" style="margin-right:15px;margin-top:10px">
        <input placeholder="Usuario..." type="text" class="form-control" ng-model="filtro.username" style="margin-bottom: 0px;"/>
    </div>
    <div data-toggle="multiselect buttons-radio" class="control-group pull-right col-md-5" style="width: 295px !important;padding-right: 0px;margin-top: 10px;"  ng-hide="hasPermission('solicitudes.solicitante')">
        <div class="btn-group">
            <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-info': (filtro.interno===true) || (filtro.interno==='')}" ng-click="filtro.interno=true">Internos</a>
            <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-info': (filtro.interno===false) || (filtro.interno==='') }" ng-click="filtro.interno=false">Externos</a>
            <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-primary': (filtro.interno==='') }" ng-click="filtro.interno=''">Todos</a>
        </div>
    </div>
    <h3 class="card-heading simple">Tiempo de usuarios en el sistema</h3>
    <div class="card-body">
        <hr style="margin-top: 0px; margin-bottom: 10px;">
        <div class="row" ng-repeat="i in users | orderBy:'username' | filter:filtro" style="padding-bottom: 5px;margin-left:30px">
            <a class="btn btn-link" data-toggle="collapse" data-target="#primeros_{{i._id}}">
                {{i.username}}
            </a>
            <div id="primeros_{{i._id}}" class="collapse">
                <table style="margin-right: 200px;width: 60%;float: right;">
                    <tr style="text-align: left;">
                        <th style="margin-top: 3px; margin-bottom: 3px; margin-right: 10px;">
                            Inicio:
                        </th>
                        <th style="margin-top: 3px; margin-bottom: 3px; margin-right: 10px;">
                            Fin:
                        </th>
                        <th style="margin-top: 3px; margin-bottom: 3px; margin-right: 10px;">
                            Tiempo:
                        </th>
                        <th style="margin-top: 3px; margin-bottom: 3px; margin-right: 10px;">
                            Ticks:
                        </th>
                    </tr>
                    <tr ng-repeat="r in userTicks | filter:{user:i.username} | orderBy:'-firstTick'" style="padding-bottom: 0px;margin-left: 100px;">
                        <td style="margin-top: 3px; margin-bottom: 3px; margin-right: 10px;">
                            {{dameFecha(r.firstTick)}}
                        </td>
                        <td style="margin-top: 3px; margin-bottom: 3px; margin-right: 10px;">
                            {{dameFecha(r.lastTick)}}
                        </td>
                        <td style="margin-top: 3px; margin-bottom: 3px; margin-right: 10px;">
                            {{dameTiempo(r.lastTick, r.firstTick)}}
                        </td>
                        <td style="margin-top: 3px; margin-bottom: 3px; margin-right: 10px;">
                            {{r.ticks}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row-fluid" ng-show="!users.length">No hay ningun usuario.</div>
    </div>
  </div>
</div>
