<!DOCTYPE html>
<html manifest="/offline.manifest" class="no-js" ng-controller="PageCtrl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title ng-bind-template="{{state.current.title}}">
            SOFEP
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" type="image/png" href="/bootstrap-3.4/favicon3.png">
        
        <link rel="apple-touch-icon" href="/bootstrap-3.4/favicon3.png"/>
        <link rel="apple-touch-icon-precomposed" href="/bootstrap-3.4/favicon3.png"/>
        <!-- Montserrat -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/components/font-awesome/css/font-awesome.css"> <!--ICONOS-->
        <link rel="stylesheet" type="text/css" href="/components/angular-ui/build/angular-ui.css">
        <!--<link rel="stylesheet" type="text/css" href="/components/fullcalendar/fullcalendar.css"> <!--CALENDARIOS-->
        <link rel="stylesheet" type="text/css" href="/components/fine-uploader/fine-uploader.css"> <!--SUBIR ARCHIVOS-->
        <link rel="stylesheet" type="text/css" href="/components/datetimepicker/datetimepicker.css">
        <link rel="stylesheet" type="text/css" href="/components/bootstrap-timepicker/css/bootstrap-timepicker.css">
        <link rel="stylesheet" type="text/css" href="/components/select2/select2.css">
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap-select2.css">
        <!--<link rel="stylesheet" type="text/css" href="/components/bootstrap-colorpicker/css/colorpicker.css"> <!--INPUT SELECCION COLOR-->
        <!--<link rel="stylesheet" type="text/css" href="/styles/main.css">-->
        <!--<link rel="stylesheet" type="text/css" href="/bastrap3/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/bastrap3/bastrap.css">-->
        <link rel="stylesheet" type="text/css" href="/bootstrap-3.4/css/themeRN2.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/print.css" media="print">
        <link rel="stylesheet" type="text/css" href="/styles/animations.css">
        <link rel="stylesheet" type="text/css" href="/components/macgyver/macgyver.css"> <!--TOOLTIPS Y OTROS-->
        <link rel="stylesheet" type="text/css" href="/components/angular-nvd3/nv.d3.css"> <!--GRAFICOS-->
        <style>
          #menu {
            position: fixed;
            bottom: 0px;    
          }
        </style>
        
    </head>
    <body id="body">
            
        <!--[if lt IE 9]>
            <script src="components/es5-shim/es5-shim.js">
            </script>
            <script src="components/json3/lib/json3.min.js">
            </script>
        <![endif]-->
        <div ng-include src="'/views/navbar.html'">
        </div>
        <div ng-if="false" style="display:none; position: fixed; top:0px; bottom: 0px; left: 0px; right: 0px; z-index: 100; background-color: #333333;" id="porcentajeMobile">
            <center>
                <img src="/bootstrap-3.4/logo5.png" style="width: 300px;margin-top:22%" />
                <div style="width:360px" id="padre2">
                    <div id="scripts_loaded2">
                        <p id="texto2">0%</p>
                    </div>
                </div>
            </center>
        </div>
        <div style="position: fixed; background-color: #B2D235; bottom: 0px; left: 0px; right: 0px; height: 3px; z-index: 100;"> </div>
        <nav ng-if="false" class="navbar navbar-default" role="navigation" style="border-top: 3px solid #B2D235;border-bottom-width: 0px;" id="barraInicial">
          <div class="container">
            <div class="row">
              <!--<div class="navbar-header">
                <img class="pull-left" src="/bootstrap-3.4/favicon.png" style="width: 48px;" />
                <a class="navbar-brand" href="#" title="SOFEP" style="font-size: 20px;">SOFEP</a>
              </div>-->
                <style type="text/css">
                    #padre, #padre2{
                        width: 400px;
                        height: 2em;
                        margin-top: 8px;
                        border-radius: 0px;
                        border: 1px solid white;
                        background-color:white;
                    }
                    #scripts_loaded, #scripts_loaded2{
                        width: 360px;
                        margin-bottom: 0;
                        background-color: #9ebc2a;
                        height: 100%;
                        float: left;
                        border-radius: 0px;
                    }
                    #texto, #texto2{
                        font-size: 1.2em;
                        color: white;
                        text-align: center;
                        margin-top:3px;
                    }
                </style>
                <div style="position: fixed; top:0%; bottom: 0px; left: 0px; right: 0px; z-index: 100; background-color: #B2D235; padding-top: 12%;">
                    <center>
                        <table>
                            <tr>
                                <td style="padding-left: 30px;"><center><img src="/bootstrap-3.4/logo5.png" style="width: 360px;" /></center></td>
                                <td><a class="navbar-brand" href="#" title="SOFEP" style="font-size: 60px;padding: 0px;"></a></td>
                            </tr>
                        </table>
                        <div style="width:360px" id="padre2">
                            <div id="scripts_loaded">
                                <p id="texto">0%</p>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
          </div>
        </nav>
            
        <div class="container-fluid">
            <div ng-include src="'/views/breadcrumb.html'">
            </div>
            <div ng-include src="'/views/alerts.html'">
            </div>
            <div ng-view>
            </div>
        </div>
        <script src="/components/jquery/jquery.js">
        </script>
        <script src="/components/angular/angular.js">
        </script>
        <script src="/components/script.js/script.js">
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTYoTrtTAFZUh-uHMqMuS5nAMBCdWHqMY"></script>
        <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTYoTrtTAFZUh-uHMqMuS5nAMBCdWHqMY"></script>-->
        <script type="text/javascript">
           navegador=navigator.userAgent; //busco el "userAgent" del usuario.
            //lista de palabras del "userAgent" en los móviles
            moviles=["Mobile","iPhone","iPad","BlackBerry","Opera Mini","Sony","MOT","Nokia","samsung"];
            detector=0; //Variable que detectará si se usa un móvil
            for (i in moviles) { //comprobar en la lista ...
               //si el método "indexOf" no devuelve -1, indica que la palabra está en el "userAgent"
               compruebo=navegador.indexOf(moviles[i]); 
               if (compruebo>-1) { 
                  detector=1; //Si es un móvil, cambio el valor del detector
                  }
               }
            if (detector==1) { //si es un móvil redirecciono la página.
               $("#barraInicial").css("display", "none");
               $("#porcentajeMobile").css("display", "inline");
            }
        </script>
        <script type="application/javascript">
            
            $.getJSON("/api/ui/allScriptsRoutes.js", function(data) { //Traer todos los scripts
                var loaded = 0; //Cantidad de scripts cargados
                var pending = data.length; //Cantidad de scripts a cargar
                function loadNext() {
                    var t_loaded = Math.round((loaded / ((loaded + pending)) * 100)); 
      
                $("#scripts_loaded").width(t_loaded+"%");
                $("#texto").text(t_loaded+"%");
                $("#scripts_loaded2").width(t_loaded+"%");
                $("#texto2").text(t_loaded+"%");
                
                    if (data.length == 0) 
                    {
                        //Cuando termine de cargar todos los .js cargara todas las colecciones
                        $.getJSON("/api/ui/angular-modules", function(data) {
                            angular.bootstrap(document, data);
                        });
                    } 
                    else 
                    {
                        $script(data[0], function() {
                            data = data.splice(1);
                            loaded++;
                            pending--;
                            
                            loadNext();
                        });
                    }
                }
                loadNext(); //Primer llamado a la funcion de carga
                        
            });
        </script>
    </body>
</html>


