<div ng-controller="NavbarAuthCtrl" >
    <div class="btn-group" ng-hide="isLoggedIn">
        <a href="/login" class="btn btn-default"><i class="icon-user"></i>&nbsp;Ingresar</a>
    </div>
    
    <div class="btn-group" ng-show="isLoggedIn" style="margin-left: 20px;">
        <button class="btn btn-default" ng-click="logout()">
            <i class="icon-off icon-white" style="color:#ce5252"></i>
        </button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-show="isLoggedIn">
            <i class="icon-user"></i>&nbsp;{{username}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li role="presentation"><a href="/cambiarContrasenna"><i class="icon-lock"></i>&nbsp;Cambiar Contraseña</a></li>
            <li role="presentation"><a href="/admin/users/{{username}}/editarDatos"><i class="icon-user"></i>&nbsp;Editar perfil</a></li>
        </ul>
    </div>
</div>
<!--icon-sunglasses-->
