<style>
	.table {
		border: 0;
	}
	.table th, .table td {
		padding: 8px;
		line-height: 20px;
		text-align: left;
		vertical-align: middle;
		border: 0;
	}
	.table th {
		background-color: #dddddd !important;
	}
	.linkCu {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.linkCu:hover {
		background-color: #F6F6F6;
	}
	#linea [class*='col-']{

		padding-left: 5px !important;
		padding-right: 5px !important;
	}
</style>

<div ng-controller="RegistrosEmpresasCtrl" class="container-fluid">
	<div class="row" id="linea">
		<div class="col-md-3">
			<h3 class="card-heading simple" style="margin: 0px; display: inline-block;">Registros - Empresas</h3>
		</div>
		<div class="col-md-1">
			<input placeholder="Apellido..." type="text" ng-model="filtro.apellido" class="form-control">
		</div>
		<div class="col-md-1">
			<input placeholder="Titulo..." type="text" class="form-control" ng-model="filtro.estudios">
		</div>
		<div class="col-md-1">
			<input placeholder="Experiencias..." type="text" class="form-control" ng-model="filtro.experiencias">
		</div>
		<div class="col-md-1">
			<input placeholder="Edad Minima" type="text" class="form-control" min="0" title="Edad Minima" ng-model="edadMinima">
		</div>
		<div class="col-md-1">
			<input placeholder="Edad Maxima" type="text" class="form-control" min="1" title="Edad Maxima" ng-model="edadMaxima">
		</div>
		<div class="col-md-1">
			<select ui-select2 ng-model="filtro.sexo" class="form-control" title="Sexo">
				<option value="">Sexo...</option>
				<option value="Femenino">Femenino</option>
				<option value="Masculino">Masculino</option>
			</select>
		</div>
		<div class="col-md-1">
			<select ui-select2="" type="text" ng-model="filtro.idiomas" class="form-control">
				<option value="">Idiomas...</option>
				<option value="Ingles">Ingles</option>
				<option value="Portugues">Portugues</option>
				<option value="Frances">Frances</option>
				<option value="Italiano">Italiano</option>
				<option value="Aleman">Aleman</option>
				<option value="Otros">Otros</option>
			</select>
		</div>
		<div class="col-md-1">
			<input placeholder="Ciudad..." type="text" ng-model="filtro.ciudad" class="form-control">
		</div>
		<div class="col-md-1">
			<a href="/registros/empresas/nuevo" class="btn pull-right btn-default btn-block" ng-if="hasPermission('registros.editar')"><i class="icon-plus"></i> Nuevo</a>
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-3"><label>Nombre y Apellido</label></div>
		<div class="col-md-2"><label>Fecha de Nacimiento</label></div>
		<div class="col-md-1"><label>Telefono</label></div>
		<div class="col-md-1"><label>Nacionalidad</label></div>
		<div class="col-md-1"><label>Idiomas</label></div>
		<div class="col-md-4"><label>Nivel Profesional</label></div>
	</div>
	<div class="row linkCu" ng-repeat="i in cvs | orderBy:'ordenG' | filter:filtro | filter:filtroFin">
		<a href="/registros/{{i._id}}">
			<div class="col-md-3">{{ i.apellido }}, {{ i.nombre }}</div>
			<div class="col-md-2">{{ i.fechaNacimiento }}</div>
			<div class="col-md-1">{{ i.numeroTelefono }}</div>
			<div class="col-md-1">{{ i.nacionalidad }}</div>
			<div class="col-md-1"><span ng-repeat="t in i.idiomas">{{t.idioma}}&nbsp;</span></div>
			<div class="col-md-4"><span ng-repeat="t in i.estudios">{{t.titulo}}&nbsp;({{t.estadoNivelProfesional}})</span></div>
		</a>
	</div>
</div>