<style>
	.table {
		border: 0;
	}
	.table th, .table td {
		padding: 8px;
		line-height: 20px;
		text-align: left;
		vertical-align: middle;
		border: 0;
	}
	.table th {
		background-color: #dddddd !important;
	}
	.linkCu {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.linkCu:hover {
		background-color: #F6F6F6;
	}
	#linea [class*='col-']{

		padding-left: 5px !important;
		padding-right: 5px !important;
	}
</style>

<div class="container-fluid">
	<div class="row" id="linea">
		<div class="col-md-3">
			<h3 class="card-heading simple" style="margin: 0px; display: inline-block;">Registros</h3>
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div style="position:absolute; width:49%; bottom:10px; top:200px; left:25%">
	    	<div style="margin-bottom: 20px;">
				  <center><a class="btn btn-lg btn-default btn-block" style="height: 100px;display: -webkit-flex;display: inline-flex;align-items: center;justify-content: center;padding-right: 5px;font-size: 19px;" 
					href="/registros/individuales">
				      Individuales
				  </a></center>
			</div>
	    	<div style="margin-bottom: 20px;">
				  <center><a class="btn btn-lg btn-default btn-block" style="height: 100px;display: -webkit-flex;display: inline-flex;align-items: center;justify-content: center;padding-right: 5px;font-size: 19px;" 
					href="/registros/empresas">
				      Empresas
				  </a></center>
			</div>
	  	</div>
	</div>
</div>