<div>
  <ul class="nav navbar-nav">
      <li ng-class="{'active': state.current.section == 'registros'}">
        <a href="/registros" style="font-weight: 400;letter-spacing: 0.5px;">REGISTROS</a></li>
  </ul>
</div>