<div class="btn-group pull-right" style="margin-top: 5px; margin-left: 25px; margin-right: 7px">
	<a class="btn btn-default" target="_blank" href="/api/registros-csv/download"><i class="icon-download-alt"></i> Descargar CSV</a>
</div>
