<style type="text/css">
	.titulo {
		padding: 10px 0px 10px 0px;
		border-bottom: solid 2px #DEDEDE;
	}
	.tituloSub {
		padding: 10px 0px 10px 0px;
		border-bottom: solid 2px #DEDEDE;
	}
	.titulo h4 {
		margin: 0px;
	}
	.tituloSub h5 {
		margin: 0px;
	}
	#contenedorRegistros .row {
		margin-bottom: 10px;
	}
	label {
		margin-top: 5px;
	}
</style>
<div ng-controller="RegistrosNuevoEmpresaCtrl" class="container-fluid" id="contenedorRegistros">
	<div class="row">
		<div class="col-md-12">
			<h3 style="padding: 0px; display: inline-block; margin:0px;">{{ (cv._id) ? 'Editar Registro Empresa' : 'Nuevo Registro Empresa' }}<span ng-show="cv.nombre">&nbsp; de {{cv.nombre}} <span ng-show="cv.apellido">{{cv.apellido}}</span></span></h3>
			<a ng-click="guardar()" href="/registros" class="btn pull-right btn-default"><i class="icon-ok"></i> Guardar</a>
			<button ng-click="eliminar()" class="btn pull-right btn-default" ng-show="cv._id"><i class="icon-trash"></i> Eliminar</button>
			<button ng-click="editar()" class="btn pull-right btn-default" ng-show="cv._id && !editando"><i class="icon-edit"></i> Editar</button>
			<a href="/registros/imprimir/{{cv._id}}" class="btn btn-default pull-right"  ng-show="cv._id"><i class="icon-print icon white"></i> Imprimir</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Datos personales</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4 text-right"><label>Nombre de la empresa</label></div>
				<div class="col-md-6"><input class="form-control" type="text" ng-model="cv.nombre" placeholder="Nombre de la empresa" required autofocus=""></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Número DUNS</label></div>
				<div class="col-md-6"><input class="form-control" type="text" date="" required ng-model="cv.fechaNacimiento"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Teléfono fijo</label></div>
				<div class="col-md-2"><input class="form-control" type="text" placeholder="Cód. Área" ng-model="cv.codigoTelefono"></div>
				<div class="col-md-4"><input class="form-control" type="text" placeholder="Número de teléfono fijo" ng-model="cv.numeroTelefono"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Correo Electrónco</label></div>
				<div class="col-md-6"><input class="form-control" type="email" placeholder="Correo electronico" required ng-model="cv.email"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Ciudad</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Ciudad" required ng-model="cv.ciudad"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Provincia</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Provincia" required ng-model="cv.provincia"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4 text-right"><label>Acrónimo</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Acrónimo" required ng-model="cv.acronimo"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Tipo de identificación fiscal</label></div>
				<div class="col-md-2">
					<select type="text" ng-model="cv.tipo" class="form-control">
						<option value="">Tipo...</option>
						<option value="CUIT (Clave Única de Identificación Tributaria - Argentina)">CUIT (Clave Única de Identificación Tributaria - Argentina)</option>
						<option value="EIN (Employer Identification Number - EEUU)">EIN (Employer Identification Number - EEUU)</option>
						<option value="VAT (Value Added Tax - Europa)">VAT (Value Added Tax - Europa)</option>
						<option value="Otro">Otro</option>
					</select>
				</div>
				<div class="col-md-4"><input class="form-control" type="text" required ng-model="cv.documento" placeholder="Número"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Teléfono celular</label></div>
				<div class="col-md-2"><input class="form-control" type="text" placeholder="Cód. Área" ng-model="cv.codigoCelular"></div>
				<div class="col-md-4"><input class="form-control" type="text" placeholder="Número de teléfono celular" ng-model="cv.numeroCelular"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Domicilio</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Dirección" required ng-model="cv.domicilio"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Pais</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Pais" required ng-model="cv.pais"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Código Postal</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Codigo Postal" required ng-model="cv.codigoPostal"></div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Información de la persona de contacto</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4 text-right"><label>Nombre</label></div>
				<div class="col-md-6"><input class="form-control" type="text" ng-model="cv.nombreContacto" placeholder="Nombre" required autofocus=""></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Título de la persona de contacto</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Título de la persona de contacto" required ng-model="cv.tituloContacto"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Correo Electrónco</label></div>
				<div class="col-md-6"><input class="form-control" type="email" placeholder="Correo electronico" required ng-model="cv.emailContacto"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4 text-right"><label>Apellido</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Apellido" required ng-model="cv.apellidoContacto"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Teléfono</label></div>
				<div class="col-md-2"><input class="form-control" type="text" placeholder="Cód. Área" ng-model="cv.codigoTelContacto"></div>
				<div class="col-md-4"><input class="form-control" type="text" placeholder="Número de teléfono" ng-model="cv.numeroTelContacto"></div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Datos financieros</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4 text-right"><label>Facturación anual</label></div>
				<div class="col-md-6"><textarea rows="3" class="form-control" type="text" ng-model="cv.facturacionAnual" placeholder="Este dato se debe cargar en USS para: Dos años antes del año pasado; Año anterior al año pasado; Año pasado; Promedio" required autofocus=""></textarea></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Ratio de liquidez (activo corriente/pasivo corriente)</label></div>
				<div class="col-md-6"><textarea rows="3" class="form-control" type="text" placeholder="Este dato se debe cargar en USS para: Dos años antes del año pasado; Año anterior al año pasado; Año pasado; Promedio" required ng-model="cv.ratioLiquidez"></textarea></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4 text-right"><label>Activo Corriente</label></div>
				<div class="col-md-6"><textarea rows="3" class="form-control" type="text" placeholder="Este dato se debe cargar en USS para: Dos años antes del año pasado; Año anterior al año pasado; Año pasado; Promedio" required ng-model="cv.activoCorriente"></textarea></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Pasivo Corriente</label></div>
				<div class="col-md-6"><textarea rows="3" class="form-control" type="text" placeholder="Este dato se debe cargar en USS para: Dos años antes del año pasado; Año anterior al año pasado; Año pasado; Promedio" required ng-model="cv.pasivoCorriente"></textarea></div>
			</div>
		</div>
		
	</div>
	
	
	<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Categorías</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="tituloSub">
							<h5>Categorías de productos que puede entregar</h5>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<select class="form-control" ui-select2="" type="text" ng-model="valorSistemas.sistema" data-placeholder="Seleccione una opcion">
							<option value=""></option>
							<option value="Equipos y servicios de comunicación">Equipos y servicios de comunicación</option>
							<option value="Servicios, equipos y software de TI">Servicios, equipos y software de TI</option>
							<option value="Consultoría y Servicios Profesionales">Consultoría y Servicios Profesionales</option>
							<option value="Suministros de Oficina, Otros">Suministros de Oficina, Otros</option>
							<option value="Gestión de instalaciones y construcción">Gestión de instalaciones y construcción</option>
							<option value="Otro">Otro (Completar) </option>
						</select>					
					</div>
					<div class="col-md-3" ng-show="valorSistemas.sistema=='Otro'">
						<input type="text" placeholder="Especifique otro" ng-model="valorSistemas.otroSistema" class="form-control">
					</div>
					<div class="col-md-7">
						<div class="btn-group col-sm-6 col-md-6" data-toggle="buttons-radio" style="margin-top:2px;">
							<button ng-disabled="!valorSistemas" class="btn btn-default" ng-click="agregarSistema(valorSistemas)"><i class="icon-ok"></i></button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="list-unstyled">
							<li ng-repeat="t in cv.sistemas" style="padding-left: 5px;margin-right: 3px; border: solid 1px #ccc;border-radius: 3px; font-size: 12px;display: inline-block;padding-right: 20px;">
								<button ng-click="eliminarIdioma(t, cv.sistemas)" class="btn btn-link" type="button" ng-disabled="(cv._id && !editando)"><i class="icon-trash"></i></button>
								<span ng-show="t.otroSistema">{{t.otroSistema}}</span>
								<span ng-hide="t.otroSistema">{{t.sistema}}</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="tituloSub"><h5>Idiomas en los que puede realizar los trabajos</h5></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<select class="form-control" ui-select2 type="text" ng-model="valorIdioma.idioma" data-placeholder="Seleccione un idioma">
							<option value=""></option>
							<option value="Inglés">Inglés</option>
							<option value="Portugués">Portugués</option>
							<option value="Francés">Francés</option>
							<option value="Italiano">Italiano</option>
							<option value="Alemán">Alemán</option>
							<option value="Otros">Otros</option>
						</select>
					</div>
					<div class="col-md-10">
						<div class="btn-group col-sm-6 col-md-6" data-toggle="buttons-radio" style="margin-top: 2px;">
							<button ng-disabled="!valorIdioma" type="button" class="btn btn-default" ng-click="valorIdioma.nivelAprendizaje='Basico'" ng-class="{'btn-info active': valorIdioma.nivelAprendizaje=='Basico'}">Básico</button>
							<button ng-disabled="!valorIdioma" type="button" class="btn btn-default" ng-click="valorIdioma.nivelAprendizaje='Intermedio'" ng-class="{'btn-info active':valorIdioma.nivelAprendizaje=='Intermedio'}">Intermedio</button>
							<button ng-disabled="!valorIdioma" type="button" class="btn btn-default" ng-click="valorIdioma.nivelAprendizaje='Avanzado'" ng-class="{'btn-info active': valorIdioma.nivelAprendizaje=='Avanzado'}">Avanzado</button>
							<button ng-disabled="!valorIdioma || !valorIdioma.nivelAprendizaje" class="btn btn-default" style="margin-left: 5px" ng-click="agregarIdioma(valorIdioma)"><i class="icon-ok"></i></button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="list-unstyled">
							<li ng-repeat="t in cv.idiomas" style="padding-left: 5px;margin-right: 3px; border: solid 1px #ccc;border-radius: 3px; font-size: 12px;display: inline-block;padding-right: 20px;"><button ng-click="eliminarIdioma(t, cv.idiomas)" class="btn btn-link" type="button" ng-disabled="(cv._id && !editando)"><i class="icon-trash"></i></button> {{t.idioma}} ({{t.nivelAprendizaje}})</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Ofertas de Financiamiento</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3">
						<select class="form-control" ui-select2="" type="text" ng-model="valorSistemas.oferta" data-placeholder="Seleccione una oferta">
							<option value=""></option>
						</select>					
					</div>
					<div class="col-md-7">
						<div class="btn-group col-sm-6 col-md-6" data-toggle="buttons-radio" style="margin-top:2px;">
							<button ng-disabled="!valorSistemas" class="btn btn-default" ng-click="agregarSistema(valorSistemas)"><i class="icon-ok"></i></button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="list-unstyled">
							<li ng-repeat="t in cv.ofertas" style="padding-left: 5px;margin-right: 3px; border: solid 1px #ccc;border-radius: 3px; font-size: 12px;display: inline-block;padding-right: 20px;">
								<button ng-click="eliminarIdioma(t, cv.sistemas)" class="btn btn-link" type="button" ng-disabled="(cv._id && !editando)"><i class="icon-trash"></i></button>
								<span>{{t.oferta}}</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input type="checkbox" ng-model="cv.aceptacionOferta" class="span1" checked="">
						<span style="vertical-align: middle;">Esta selección no implica ningún compromiso por parte de la UPCEFE, solo es a modo informativo para nuestras bases de datos, solo serán convocados en caso que sea necesario una cotización futura especifica.</span>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Experiencias</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="tituloSub"><h5>Experiencias</h5></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<input type="text" date="" ng-model="valorExperiencia.desde" placeholder="Fecha Inicio" class="form-control">
					</div>
					<div class="col-md-4">
						<input type="text" date="" ng-model="valorExperiencia.hasta" placeholder="Fecha Fin" ng-disabled="valorExperiencia.hasta=='Al presente'" class="form-control">
					</div>
					<div class="col-md-4">
						<input type="checkbox" ng-model="valorExperiencia.hasta" ng-true-value="Al presente" ng-false-value="''"> Al presente	
						<button ng-disabled="!valorExperiencia || !valorExperiencia.experiencia || !valorExperiencia.proyecto || !valorExperiencia.hasta || !valorExperiencia.pais" class="btn btn-default pull-right" ng-click="agregarExperiencia(valorExperiencia)" title="Agregar Experiencia"><i class="icon-ok"></i> Agregar</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<input type="text" ng-model="valorExperiencia.proyecto" placeholder="Proyecto" class="form-control">
					</div>
					<div class="col-md-4">
						<input type="text" ng-model="valorExperiencia.empleador" placeholder="Nombre del Empleador" class="form-control">
					</div>
					<div class="col-md-4">
						<input type="text" ng-model="valorExperiencia.monto" placeholder="Monto del proyecto (en dólares)" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<input type="text" ng-model="valorExperiencia.organismo" placeholder="Organismo Internacional de Crédito" class="form-control">
					</div>
					<div class="col-md-4">
						<input type="text" ng-model="valorExperiencia.contacto" placeholder="Contacto de referencia" class="form-control">
					</div>
					<div class="col-md-4">
						<input type="text" ng-model="valorExperiencia.pais" placeholder="Pais del Proyecto" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<textarea rows="3" class=" form-control" placeholder="Resumen de actividades realizadas relevantes al Trabajo" ng-model="valorExperiencia.experiencia"></textarea>
					</div>
				</div>

				<!-- Lista de experiencias -->
				<div ng-repeat="t in cv.experiencias">
					<div class="row">
						<div class="col-md-4">
							<input type="text" ng-disabled="true" date="" value="{{t.desde}}" title="Desde" class="form-control">
						</div>
						<div class="col-md-4">
							<input type="text" ng-disabled="true" date="" value="{{t.hasta}}" title="Hasta" class="form-control">
						</div>
						<div class="col-md-4">
							<button class="btn btn-default pull-right" ng-click="eliminarIdioma(t, cv.experiencias)" type="button" ng-disabled="(cv._id && !editando)"><i class="icon-trash"></i></button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<input type="text" ng-disabled="true" value="{{t.empresa}}" title="Empresa" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<input type="text" ng-disabled="true" value="{{t.puesto}}" title="Puesto" class="form-control">
						</div>
						<div class="col-md-6">
							<input type="text" ng-disabled="true" value="{{t.pais}}" title="Pais" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<input type="text" ng-disabled="true" value="{{t.area}}" title="Area / Rubro" class="form-control">
						</div>
						<div class="col-md-4">
							<input type="text" ng-disabled="true" value="{{t.personasACargo}}" title="Personas a cargo" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="padding-bottom: 5px; border-bottom: dashed 1px #C3C3C3;">
							<textarea rows="3" ng-disabled="true" class="span3 form-control" title="Experiencia">{{t.experiencia}}</textarea>
						</div>
					</div>
				</div> 


			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Declaraciones</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<input type="checkbox" ng-model="cv.privacidad" class="span1" checked="">
			<span style="vertical-align: middle;">Sí, he leído la Política de Privacidad del SOFEP</span>
		</div>
	</div>
	<div class="row" style="margin-bottom: 50px;">
		<div class="col-md-12">
			<input type="checkbox" ng-model="cv.disposiciones" class="span1" checked="">
			<span style="vertical-align: middle;">Acepto todas las disposiciones aquí establecidas, certifico que toda la información proporcionada es precisa y está dentro del alcance de mis poderes como representante de mi firma.</span>
		</div>
	</div>
	<!--<div class="row">
		<div class="col-md-2">
			<input class="form-control" type="text" placeholder="Nombre..." required ng-model="referencias.nombre">
		</div>
		<div class="col-md-2">
			<input class="form-control" type="text" placeholder="Apellido..." required ng-model="referencias.apellido">
		</div>
		<div class="col-md-2">
			<input class="form-control" type="text" placeholder="Telefono..." required ng-model="referencias.telefono">
		</div>
		<div class="col-md-3">
			<input class="form-control" type="email" placeholder="Correo electronico" ng-model="referencias.email">
		</div>
		<div class="col-md-1">
			<button ng-disabled="!referencias.nombre || !referencias.apellido" class="btn pull-right btn-default" ng-click="agregarReferencia(referencias)" title="Agregar Referente"><i class="icon-ok"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="list-unstyled">
				<li ng-repeat="t in cv.referencias" style="padding-left: 5px;margin-right: 3px; border: solid 1px #ccc;border-radius: 3px; font-size: 12px;padding-right: 20px;display: inline-block;"><button ng-click="eliminarIdioma(t, cv.referencias)" class="btn btn-link" type="button" ng-disabled="(cv._id && !editando)"><i class="icon-trash"></i></button>
					<span style="padding-right: 10px;">{{ t.nombre }}</span>
					<span style="padding-right: 10px;">{{ t.apellido }}</span>
					<span style="padding-right: 10px;">{{ t.telefono }}</span>
					<span style="padding-right: 10px;">{{ t.email }}</span>
				</li>
			</ul>
		</div>
	</div>-->



	<!--<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Adjuntar CV</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div ng-if="cv.archivoId">Currículum (<a href="/file/{{ cv.archivoId }}" target="_blank">Descargar</a>)</div><br>
			<div style="width: 300px" fine-uploader="" destination="'/upload/'" placeholder="'Examinar'" uploaded="uploaded"></div>
		</div>
	</div>


	<!-- Modal -->
	<!--<div id="confirmarEliminar" class="modal fade" role="dialog">
		<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Eliminar CV</h4>
			</div>
			<div class="modal-body">
				<p>Está a un paso de eliminar el CV</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Conservar el CV</button>
				<button class="btn btn-primary" ng-click="eliminar(true)">Eliminar</button>
			</div>
		</div>

		</div>
	</div>-->
</div>