<style type="text/css">
	.titulo {
		padding: 10px 0px 10px 0px;
		border-bottom: solid 2px #DEDEDE;
	}
	.tituloSub {
		padding: 10px 0px 10px 0px;
		border-bottom: solid 2px #DEDEDE;
	}
	.titulo h4 {
		margin: 0px;
	}
	.tituloSub h5 {
		margin: 0px;
	}
	#contenedorRegistros .row {
		margin-bottom: 10px;
	}
	label {
		margin-top: 5px;
	}
</style>
<div ng-controller="RegistrosNuevoCtrl" class="container-fluid" id="contenedorRegistros">
	<div class="row">
		<div class="col-md-12">
			<h3 style="padding: 0px; display: inline-block; margin:0px;">{{ (cv._id) ? 'Editar Registro Individual' : 'Nuevo Registro Individual' }}<span ng-show="cv.nombre">&nbsp; de {{cv.nombre}} <span ng-show="cv.apellido">{{cv.apellido}}</span></span></h3>
			<a ng-click="guardar()" href="/registros" class="btn pull-right btn-default"><i class="icon-ok"></i> Guardar</a>
			<button ng-click="eliminar()" class="btn pull-right btn-default" ng-show="cv._id"><i class="icon-trash"></i> Eliminar</button>
			<button ng-click="editar()" class="btn pull-right btn-default" ng-show="cv._id && !editando"><i class="icon-edit"></i> Editar</button>
			<a href="/registros/imprimir/{{cv._id}}" class="btn btn-default pull-right"  ng-show="cv._id"><i class="icon-print icon white"></i> Imprimir</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Datos personales</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4 text-right"><label>Nombre</label></div>
				<div class="col-md-6"><input class="form-control" type="text" ng-model="cv.nombre" placeholder="Nombre" required autofocus=""></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Fecha de Nacimiento</label></div>
				<div class="col-md-6"><input class="form-control" type="text" date="" required ng-model="cv.fechaNacimiento"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Teléfono fijo</label></div>
				<div class="col-md-2"><input class="form-control" type="text" placeholder="Cód. Área" ng-model="cv.codigoTelefono"></div>
				<div class="col-md-4"><input class="form-control" type="text" placeholder="Número de teléfono fijo" ng-model="cv.numeroTelefono"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Correo Electrónco</label></div>
				<div class="col-md-6"><input class="form-control" type="email" placeholder="Correo electronico" required ng-model="cv.email"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Estado Civil</label></div>
				<div class="col-md-6">
					<select ng-model="cv.estadoCivil" class="form-control">
						<option value="">Estado...</option>
						<option value="Soltero/a">Soltero/a</option>
						<option value="Casado/a">Casado/a</option>
						<option value="Divorciado/a">Divorciado/a</option>
						<option value="Viudo/a">Viudo/a</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Ciudad</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Ciudad" required ng-model="cv.ciudad"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Provincia</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Provincia" required ng-model="cv.provincia"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4 text-right"><label>Apellido</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Apellido" required ng-model="cv.apellido"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Tipo y Nº Documento</label></div>
				<div class="col-md-2">
					<select type="text" ng-model="cv.tipo" class="form-control">
						<option value="">Tipo...</option>
						<option value="CUIT/CUIL">CUIT/CUIL</option>
						<option value="DNI">DNI</option>
						<option value="Otro">Otro</option>
					</select>
				</div>
				<div class="col-md-4"><input class="form-control" type="text" required ng-model="cv.documento" placeholder="Número"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Teléfono celular</label></div>
				<div class="col-md-2"><input class="form-control" type="text" placeholder="Cód. Área" ng-model="cv.codigoCelular"></div>
				<div class="col-md-4"><input class="form-control" type="text" placeholder="Número de teléfono celular" ng-model="cv.numeroCelular"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Sexo</label></div>
				<div class="col-md-6">
					<span style="vertical-align: middle;">Masculino</span>
					<input type="radio" name="sex" value="Masculino" ng-model="cv.sexo" class="span1" checked="">
					<span style="vertical-align: middle;">Femenino</span>
					<input type="radio" name="sex" value="Femenino" ng-model="cv.sexo" class="span1">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Domicilio</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Dirección" required ng-model="cv.domicilio"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Nacionalidad</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Nacionalidad" required ng-model="cv.nacionalidad"></div>
			</div>
			<div class="row">
				<div class="col-md-4 text-right"><label>Código Postal</label></div>
				<div class="col-md-6"><input class="form-control" type="text" placeholder="Codigo Postal" required ng-model="cv.codigoPostal"></div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Estudios</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<label>Nivel Profesional</label>
			<select type="text" ui-select2="" class="form-control" ng-model="estudios.nivelProfesional">
				<option value="">No especifica</option>
				<option value="Secundario">Secundario</option>
				<option value="Terciario">Terciario</option>
				<option value="Universitario">Universitario</option>
				<option value="Postgrado">Postgrado</option>
				<option value="Maestria">Maestría</option>
				<option value="Doctorado">Doctorado</option>
				<option value="Otro">Otro (especificar)</option>
			</select>
			<input class="form-control" type="text" placeholder="Otro nivel profesional" ng-model="estudios.otroNivelProfesional" style="margin-top: 5px;" ng-show="estudios.nivelProfesional=='Otro'">		
		</div>
		<div class="col-md-2" ng-show="estudios.nivelProfesional">
			<label>Título</label>
			<input class="form-control" type="text" placeholder="Titulo" required ng-model="estudios.titulo">
		</div>
		<div class="col-md-1" ng-show="estudios.nivelProfesional">
			<label>Pais</label>
			<input class="form-control" type="text" placeholder="Pais" required ng-model="estudios.pais">
		</div>
		<div class="col-md-1" ng-show="estudios.nivelProfesional">
			<label>Estado</label>
			<select class="form-control" ng-model="estudios.estadoNivelProfesional">
				<option value="">No especifica</option>
				<option value="En curso">En curso</option>
				<option value="Graduado">Graduado</option>
				<option value="Abandonado">Abandonado</option>
			</select>
		</div>
		<div class="col-md-2" ng-show="estudios.nivelProfesional">
			<label>Fecha de Inicio</label>
			<input type="text" date="" ng-model="estudios.inicio" placeholder="Desde" class="form-control">
		</div>
		<div class="col-md-2" ng-show="estudios.nivelProfesional">
			<label>Fecha de Fin</label>
			<input type="text" date="" ng-model="estudios.fin" placeholder="Hasta" ng-show="estudios.fin!='Al presente'" class="form-control">
			<input type="checkbox" ng-model="estudios.fin" ng-true-value="Al presente" ng-false-value="''"> Al presente
		</div>
		<div class="col-md-1" ng-show="estudios.nivelProfesional">
			<label>Institución</label>
			<input class="form-control" type="text" placeholder="Nombre de la institucion" required ng-model="estudios.nombreInstituto">
		</div>
		<div class="col-md-1" ng-show="estudios.nivelProfesional">
			<br>
			<button class="btn btn-default btn-block" style="margin-top: 10px;" ng-click="agregarEstudios(estudios)" ng-disabled="!estudios.nombreInstituto || !estudios.estadoNivelProfesional"><i class="icon-ok"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<tr ng-repeat="t in cv.estudios">
					<td ng-hide="t.otroNivelProfesional">{{t.nivelProfesional}}</td>
					<td ng-show="t.otroNivelProfesional">{{t.otroNivelProfesional}}</td>
					<td>{{t.titulo}}</td>
					<td>{{t.pais}}</td>
					<td>{{t.estadoNivelProfesional}}</td>
					<td>{{t.inicio}}</td>
					<td>{{t.fin}}</td>
					<td>{{t.nombreInstituto}}</td>
					<td>
						<button ng-click="eliminarIdioma(t, cv.estudios)" class="btn btn-default" type="button" ng-disabled="(cv._id && !editando)"><i class="icon-trash"></i></button>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Categorías</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="tituloSub">
							<h5>Categorías de productos que puede entregar</h5>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<select class="form-control" ui-select2="" type="text" ng-model="valorSistemas.sistema" data-placeholder="Seleccione una opcion">
							<option value=""></option>
							<option value="Equipos y servicios de comunicación">Equipos y servicios de comunicación</option>
							<option value="Servicios, equipos y software de TI">Servicios, equipos y software de TI</option>
							<option value="Consultoría y Servicios Profesionales">Consultoría y Servicios Profesionales</option>
							<option value="Suministros de Oficina, Otros">Suministros de Oficina, Otros</option>
							<option value="Gestión de instalaciones y construcción">Gestión de instalaciones y construcción</option>
							<option value="Otro">Otro (Completar) </option>
						</select>					
					</div>
					<div class="col-md-3" ng-show="valorSistemas.sistema=='Otro'">
						<input type="text" placeholder="Especifique otro" ng-model="valorSistemas.otroSistema" class="form-control">
					</div>
					<div class="col-md-7">
						<div class="btn-group col-sm-6 col-md-6" data-toggle="buttons-radio" style="margin-top:2px;">
							<button ng-disabled="!valorSistemas" class="btn btn-default" ng-click="agregarSistema(valorSistemas)"><i class="icon-ok"></i></button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="list-unstyled">
							<li ng-repeat="t in cv.sistemas" style="padding-left: 5px;margin-right: 3px; border: solid 1px #ccc;border-radius: 3px; font-size: 12px;display: inline-block;padding-right: 20px;">
								<button ng-click="eliminarIdioma(t, cv.sistemas)" class="btn btn-link" type="button" ng-disabled="(cv._id && !editando)"><i class="icon-trash"></i></button>
								<span ng-show="t.otroSistema">{{t.otroSistema}}</span>
								<span ng-hide="t.otroSistema">{{t.sistema}}</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="tituloSub"><h5>Idiomas en los que puede realizar los trabajos</h5></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<select class="form-control" ui-select2 type="text" ng-model="valorIdioma.idioma" data-placeholder="Seleccione un idioma">
							<option value=""></option>
							<option value="Inglés">Inglés</option>
							<option value="Portugués">Portugués</option>
							<option value="Francés">Francés</option>
							<option value="Italiano">Italiano</option>
							<option value="Alemán">Alemán</option>
							<option value="Otros">Otros</option>
						</select>
					</div>
					<div class="col-md-10">
						<div class="btn-group col-sm-6 col-md-6" data-toggle="buttons-radio" style="margin-top: 2px;">
							<button ng-disabled="!valorIdioma" type="button" class="btn btn-default" ng-click="valorIdioma.nivelAprendizaje='Basico'" ng-class="{'btn-info active': valorIdioma.nivelAprendizaje=='Basico'}">Básico</button>
							<button ng-disabled="!valorIdioma" type="button" class="btn btn-default" ng-click="valorIdioma.nivelAprendizaje='Intermedio'" ng-class="{'btn-info active':valorIdioma.nivelAprendizaje=='Intermedio'}">Intermedio</button>
							<button ng-disabled="!valorIdioma" type="button" class="btn btn-default" ng-click="valorIdioma.nivelAprendizaje='Avanzado'" ng-class="{'btn-info active': valorIdioma.nivelAprendizaje=='Avanzado'}">Avanzado</button>
							<button ng-disabled="!valorIdioma || !valorIdioma.nivelAprendizaje" class="btn btn-default" style="margin-left: 5px" ng-click="agregarIdioma(valorIdioma)"><i class="icon-ok"></i></button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="list-unstyled">
							<li ng-repeat="t in cv.idiomas" style="padding-left: 5px;margin-right: 3px; border: solid 1px #ccc;border-radius: 3px; font-size: 12px;display: inline-block;padding-right: 20px;"><button ng-click="eliminarIdioma(t, cv.idiomas)" class="btn btn-link" type="button" ng-disabled="(cv._id && !editando)"><i class="icon-trash"></i></button> {{t.idioma}} ({{t.nivelAprendizaje}})</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Experiencias</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="tituloSub"><h5>Experiencias</h5></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<input type="text" date="" ng-model="valorExperiencia.desde" placeholder="Fecha Inicio" class="form-control">
					</div>
					<div class="col-md-4">
						<input type="text" date="" ng-model="valorExperiencia.hasta" placeholder="Fecha Fin" ng-disabled="valorExperiencia.hasta=='Al presente'" class="form-control">
					</div>
					<div class="col-md-4">
						<input type="checkbox" ng-model="valorExperiencia.hasta" ng-true-value="Al presente" ng-false-value="''"> Al presente	
						<button ng-disabled="!valorExperiencia || !valorExperiencia.experiencia || !valorExperiencia.proyecto || !valorExperiencia.hasta || !valorExperiencia.pais" class="btn btn-default pull-right" ng-click="agregarExperiencia(valorExperiencia)" title="Agregar Experiencia"><i class="icon-ok"></i> Agregar</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<input type="text" ng-model="valorExperiencia.proyecto" placeholder="Proyecto" class="form-control">
					</div>
					<div class="col-md-4">
						<input type="text" ng-model="valorExperiencia.empleador" placeholder="Nombre del Empleador" class="form-control">
					</div>
					<div class="col-md-4">
						<input type="text" ng-model="valorExperiencia.monto" placeholder="Monto del proyecto (en dólares)" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<input type="text" ng-model="valorExperiencia.organismo" placeholder="Organismo Internacional de Crédito" class="form-control">
					</div>
					<div class="col-md-4">
						<input type="text" ng-model="valorExperiencia.contacto" placeholder="Contacto de referencia" class="form-control">
					</div>
					<div class="col-md-4">
						<input type="text" ng-model="valorExperiencia.pais" placeholder="Pais del Proyecto" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<textarea rows="3" class=" form-control" placeholder="Resumen de actividades realizadas relevantes al Trabajo" ng-model="valorExperiencia.experiencia"></textarea>
					</div>
				</div>

				<!-- Lista de experiencias -->
				<div ng-repeat="t in cv.experiencias">
					<div class="row">
						<div class="col-md-4">
							<input type="text" ng-disabled="true" date="" value="{{t.desde}}" title="Desde" class="form-control">
						</div>
						<div class="col-md-4">
							<input type="text" ng-disabled="true" date="" value="{{t.hasta}}" title="Hasta" class="form-control">
						</div>
						<div class="col-md-4">
							<button class="btn btn-default pull-right" ng-click="eliminarIdioma(t, cv.experiencias)" type="button" ng-disabled="(cv._id && !editando)"><i class="icon-trash"></i></button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<input type="text" ng-disabled="true" value="{{t.empresa}}" title="Empresa" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<input type="text" ng-disabled="true" value="{{t.puesto}}" title="Puesto" class="form-control">
						</div>
						<div class="col-md-6">
							<input type="text" ng-disabled="true" value="{{t.pais}}" title="Pais" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<input type="text" ng-disabled="true" value="{{t.area}}" title="Area / Rubro" class="form-control">
						</div>
						<div class="col-md-4">
							<input type="text" ng-disabled="true" value="{{t.personasACargo}}" title="Personas a cargo" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="padding-bottom: 5px; border-bottom: dashed 1px #C3C3C3;">
							<textarea rows="3" ng-disabled="true" class="span3 form-control" title="Experiencia">{{t.experiencia}}</textarea>
						</div>
					</div>
				</div> 


			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Declaraciones</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<input type="checkbox" ng-model="cv.privacidad" class="span1" checked="">
			<span style="vertical-align: middle;">Sí, he leído la Política de Privacidad del SOFEP</span>
		</div>
	</div>
	<div class="row" style="margin-bottom: 50px;">
		<div class="col-md-12">
			<input type="checkbox" ng-model="cv.disposiciones" class="span1" checked="">
			<span style="vertical-align: middle;">Acepto todas las disposiciones aquí establecidas, certifico que toda la información proporcionada es precisa y está dentro del alcance de mis poderes como representante de mi firma.</span>
		</div>
	</div>
	<!--<div class="row">
		<div class="col-md-2">
			<input class="form-control" type="text" placeholder="Nombre..." required ng-model="referencias.nombre">
		</div>
		<div class="col-md-2">
			<input class="form-control" type="text" placeholder="Apellido..." required ng-model="referencias.apellido">
		</div>
		<div class="col-md-2">
			<input class="form-control" type="text" placeholder="Telefono..." required ng-model="referencias.telefono">
		</div>
		<div class="col-md-3">
			<input class="form-control" type="email" placeholder="Correo electronico" ng-model="referencias.email">
		</div>
		<div class="col-md-1">
			<button ng-disabled="!referencias.nombre || !referencias.apellido" class="btn pull-right btn-default" ng-click="agregarReferencia(referencias)" title="Agregar Referente"><i class="icon-ok"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="list-unstyled">
				<li ng-repeat="t in cv.referencias" style="padding-left: 5px;margin-right: 3px; border: solid 1px #ccc;border-radius: 3px; font-size: 12px;padding-right: 20px;display: inline-block;"><button ng-click="eliminarIdioma(t, cv.referencias)" class="btn btn-link" type="button" ng-disabled="(cv._id && !editando)"><i class="icon-trash"></i></button>
					<span style="padding-right: 10px;">{{ t.nombre }}</span>
					<span style="padding-right: 10px;">{{ t.apellido }}</span>
					<span style="padding-right: 10px;">{{ t.telefono }}</span>
					<span style="padding-right: 10px;">{{ t.email }}</span>
				</li>
			</ul>
		</div>
	</div>-->



	<!--<div class="row">
		<div class="col-md-12">
			<div class="titulo"><h4>Adjuntar CV</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div ng-if="cv.archivoId">Currículum (<a href="/file/{{ cv.archivoId }}" target="_blank">Descargar</a>)</div><br>
			<div style="width: 300px" fine-uploader="" destination="'/upload/'" placeholder="'Examinar'" uploaded="uploaded"></div>
		</div>
	</div>


	<!-- Modal -->
	<!--<div id="confirmarEliminar" class="modal fade" role="dialog">
		<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Eliminar CV</h4>
			</div>
			<div class="modal-body">
				<p>Está a un paso de eliminar el CV</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Conservar el CV</button>
				<button class="btn btn-primary" ng-click="eliminar(true)">Eliminar</button>
			</div>
		</div>

		</div>
	</div>-->
</div>