
<div class="container-fluid" ng-controller="OfertaDetalleCtrl">
	<h3 style="margin-bottom: 20px;">
		<span ng-if="!oferta._id">Nueva Oferta de Financiamiento</span>
		<span ng-if="oferta._id">Detalle Oferta de Financiamiento</span>
		<button class="btn btn-default pull-right" ng-click="editar()" ng-if="(hasPermission('ofertas.editar') || bool) && !editando"><i class="icon-edit"></i> Editar</button>
		<button class="btn btn-default pull-right" ng-click="guardar()" href="#" ng-show="editando" class="btn btn-default"><i class="icon-ok"></i> Guardar</button>
		<button class="btn btn-default pull-right" style="margin-right: 5px" ng-show="editando && oferta._id" href="#" ng-click="cancelar(); editando=false" title="Cancelar"><i class="icon-undo"></i> Cancelar</button>

		<a class="btn btn-default pull-right" style="margin-right: 5px" href="#" ng-click="volver()" ng-show="!oferta._id" href="#" title="Cancelar"><i class="icon-undo"></i> Cancelar</a>

		<a class="btn btn-default pull-right" style="margin-right: 5px" ng-show="editando && oferta._id" href="#" ng-click="eliminar(false, e._id)" ng-if="hasPermission('ofertas.eliminar')" title="Eliminar oferta"><i class="icon-trash"></i> Eliminar</a>
		<a class="btn btn-default pull-right" href="#" ng-click="volver()" ng-show="!editando" style="margin-right: 5px"><i class="icon-arrow-left"></i> Volver</a>
		<a class="btn btn-default pull-right" href="/solicitudes/nuevo?oferta={{oferta._id}}" ng-if=hasPermission('solicitudes.solicitante') style="margin-right: 5px">Postularse</a>
	</h3>


	<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title">Identificación</h3>
        </div>
       
        <div class="panel-body">
          <form class="form-horizontal row-border">
            <div class="form-group">
              <label class="col-md-4 control-label">Jurisdicción</label>
              <div class="col-md-8">
                <select class="form-control" ng-disabled="!editando" ng-model="oferta.jurisdiccion" ng-options="i._id as i.nombre for i in jurisdicciones | orderBy:'nombre'">
									<option>{{i.nombre}}</option>
						    </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Organismo Internacional de Crédito</label>
              <div class="col-md-8">
                <select class="form-control" ng-disabled="!editando" ng-model="oferta.organismo" ng-options="i._id as i.nombre for i in organismos | orderBy:'nombre'">
									<option>{{i.nombre}}</option>
						    </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Operación</label>
              <div class="col-md-8">
                <input type="text" class="form-control" ng-disabled="!editando" ng-model="oferta.operacion">
                <!--<select class="form-control" ng-disabled="!editando" ng-model="oferta.operacion" ng-options="i._id as i.nombre for i in operaciones | orderBy:'nombre'">
									<option>{{i.nombre}}</option>
						    </select>-->
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Programa</label>
              <div class="col-md-8">
             		<textarea type="text" class="form-control" ng-disabled="!editando" rows="3" ng-model="oferta.programa" />
                <!--<select class="form-control" ng-disabled="!editando" ng-model="oferta.programa" ng-options="i._id as i.nombre for i in programas | orderBy:'nombre'">
									<option>{{i.nombre}}</option>
						    </select>-->
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Tipo de Programa</label>
              <div class="col-md-8">
                <select class="form-control" ng-model="oferta.tipoPrograma" ng-disabled="!editando">
									<option ng-disabled="true">{{oferta.tipoPrograma}}</option>
									<option value="Provincial">Provincial</option>
									<option value="Regional">Regional</option>
									<option value="Municipal">Municipal</option>
						    </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Inversión del proyecto</label>
              <div class="col-md-8">
              	<select class="form-control" ui-select2 ng-disabled="!editando" type="text" ng-model="dataInversion" ng-options="i for i in listaInversiones | filter: filtroInversiones" ng-click="agregarInversion(dataInversion)"></select>
                <div class="btn-group" ng-repeat="e in oferta.inversionProyecto" style="margin-bottom: 5px;margin-left: 0px;margin-right: 5px;">
                    <button class="btn btn-default active">{{e}}</button>
                    <button class="btn btn-default active" ng-show="editando" ng-click="eliminarListaElem(e, oferta.inversionProyecto)"><i class="icon-remove"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Objeto General</label>
              <div class="col-md-8">
             		<textarea type="text" class="form-control" ng-disabled="!editando" rows="7" ng-model="oferta.objeto" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Sector</label>
              <div class="col-md-8">
                <select class="form-control" ng-disabled="!editando" ng-model="oferta.sector" ng-options="i._id as i.nombre for i in sectores | orderBy:'nombre'">
									<option>{{i.nombre}}</option>
						    </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Gastos Elegibles</label>
              <div class="col-md-8">
              	<select class="form-control" ui-select2 ng-disabled="!editando" type="text" ng-model="dataGasto" ng-options="i._id as i.nombre for i in gastos | filter: filtroGasto" ng-click="agregarGasto(dataGasto)"></select>
                <div class="btn-group" ng-repeat="e in oferta.gastoElegible" style="margin-bottom: 5px;margin-left: 0px;margin-right: 5px;">
                    <button class="btn btn-default active">{{gastoPorId(e)}}</button>
                    <button class="btn btn-default active" ng-show="editando" ng-click="eliminarListaElem(e, oferta.gastoElegible)"><i class="icon-remove"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Objetivos Específicos</label>
              <div class="col-md-8">
             		<textarea type="text" class="form-control" ng-disabled="!editando" rows="7" ng-model="oferta.objetivoEspecifico" />
              	<!--<select class="form-control" ui-select2 ng-disabled="!editando" type="text" ng-model="dataObjetivo" ng-options="i._id as i.nombre for i in objetivos | filter: filtroObjetivo" ng-click="agregarObjetivo(dataObjetivo)"></select>
                <div class="btn-group" ng-repeat="e in oferta.objetivos" style="margin-bottom: 5px;margin-left: 0px;margin-right: 5px;">
                    <button class="btn btn-default active">{{objetivoPorId(e)}}</button>
                    <button class="btn btn-default active" ng-show="editando" ng-click="eliminarListaElem(e, oferta.objetivos)"><i class="icon-remove"></i></button>
                </div>-->
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Componentes</label>
              <div class="col-md-8">
              	<select class="form-control" ui-select2 ng-disabled="!editando" type="text" ng-model="dataComponente" ng-options="i._id as i.nombre for i in componentes | filter: filtroComponente" ng-click="agregarComponente(dataComponente)"></select>
                <div class="btn-group" ng-repeat="e in oferta.componentes" style="margin-bottom: 5px;margin-left: 0px;margin-right: 5px;">
                    <button class="btn btn-default active">{{componentePorId(e)}}</button>
                    <button class="btn btn-default active" ng-show="editando" ng-click="eliminarListaElem(e, oferta.componentes)"><i class="icon-remove"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Municipio</label>
              <div class="col-md-8">
              	<select class="form-control" ui-select2 ng-disabled="!editando" type="text" ng-model="dataMunicipio" ng-options="i._id as i.nombre for i in municipios | filter: filtroMunicipio" ng-click="agregarMunicipio(dataMunicipio)"></select>
                <div class="btn-group" ng-repeat="e in oferta.municipios" style="margin-bottom: 5px;margin-left: 0px;margin-right: 5px;">
                    <button class="btn btn-default active">{{municipioPorId(e)}}</button>
                    <button class="btn btn-default active" ng-show="editando" ng-click="eliminarListaElem(e, oferta.municipios)"><i class="icon-remove"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Proyectos Previos Presentados</label>
              <div class="col-md-8">
	              <div class="row">
	              	<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.proyectosPrevios == 'Si') && 'active btn-info'" ng-click="oferta.proyectosPrevios = 'Si'" ng-disabled="!editando">Si</button>
									</div>
									<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.proyectosPrevios == 'No') && 'active btn-info'" ng-click="oferta.proyectosPrevios = 'No'" ng-disabled="!editando">No</button>
									</div>
								</div>
              </div>
            </div>
            <div class="form-group" ng-show="(oferta.proyectosPrevios == 'Si')">
              <label class="col-md-4 control-label">Proyectos Presentados</label>
              <div class="col-md-8">
                <input type="text" class="form-control" ng-disabled="!editando" ng-model="oferta.proyectosPreviosC">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Financia infraestructura?</label>
              <div class="col-md-8">
	              <div class="row">
	              	<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.financiaInfraestructura == 'Si') && 'active btn-info'" ng-click="oferta.financiaInfraestructura = 'Si'" ng-disabled="!editando">Si</button>
									</div>
									<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.financiaInfraestructura == 'No') && 'active btn-info'" ng-click="oferta.financiaInfraestructura = 'No'" ng-disabled="!editando">No</button>
									</div>
								</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Subejecución?</label>
              <div class="col-md-8">
	              <div class="row">
	              	<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.subejecucion == 'Si') && 'active btn-info'" ng-click="oferta.subejecucion = 'Si'" ng-disabled="!editando">Si</button>
									</div>
									<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.subejecucion == 'No') && 'active btn-info'" ng-click="oferta.subejecucion = 'No'" ng-disabled="!editando">No</button>
									</div>
								</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Convocatoria de Proyectos</label>
              <div class="col-md-8">
	              <div class="row">
	              	<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.convocatoriaProyectos == 'Si') && 'active btn-info'" ng-click="oferta.convocatoriaProyectos = 'Si'" ng-disabled="!editando">Si</button>
									</div>
									<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.convocatoriaProyectos == 'No') && 'active btn-info'" ng-click="oferta.convocatoriaProyectos = 'No'" ng-disabled="!editando">No</button>
									</div>
								</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Tiene R.O.?</label>
              <div class="col-md-8">
	              <div class="row">
	              	<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.tieneRO == 'Si') && 'active btn-info'" ng-click="oferta.tieneRO = 'Si'" ng-disabled="!editando">Si</button>
									</div>
									<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.tieneRO == 'No') && 'active btn-info'" ng-click="oferta.tieneRO = 'No'" ng-disabled="!editando">No</button>
									</div>
								</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">ANR?</label>
              <div class="col-md-8">
	              <div class="row">
	              	<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.ANR == 'Si') && 'active btn-info'" ng-click="oferta.ANR = 'Si'" ng-disabled="!editando">Si</button>
									</div>
									<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.ANR == 'No') && 'active btn-info'" ng-click="oferta.ANR = 'No'" ng-disabled="!editando">No</button>
									</div>
								</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">SAE</label>
              <div class="col-md-8">
	              <div class="row">
	              	<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.SAE == 'Si') && 'active btn-info'" ng-click="oferta.SAE = 'Si'" ng-disabled="!editando">Si</button>
									</div>
									<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.SAE == 'No') && 'active btn-info'" ng-click="oferta.SAE = 'No'" ng-disabled="!editando">No</button>
									</div>
								</div>
              </div>
            </div>
            <div class="form-group" ng-show="oferta.SAE == 'Si'">
              <label class="col-md-4 control-label">Fecha Observación SAE</label>
              <div class="col-md-7">
                <input type="text" class="form-control" date ng-disabled="!editando" ng-model="oferta.fechaSAE">
              </div>
            </div>
            <div class="form-group" ng-show="oferta.SAE == 'Si'">
              <label class="col-md-4 control-label">Observación SAE</label>
              <div class="col-md-8">
             		<textarea type="text" class="form-control" ng-disabled="!editando" rows="3" ng-model="oferta.observacionSAE" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">BAPIN</label>
              <div class="col-md-8">
	              <div class="row">
	              	<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.BAPIN == 'Si') && 'active btn-info'" ng-click="oferta.BAPIN = 'Si'" ng-disabled="!editando">Si</button>
									</div>
									<div class="col-xs-6">
										<button class="btn btn-default form-control" ng-class="(oferta.BAPIN == 'No') && 'active btn-info'" ng-click="oferta.BAPIN = 'No'" ng-disabled="!editando">No</button>
									</div>
								</div>
              </div>
            </div>
            <div class="form-group" ng-show="oferta.BAPIN == 'Si'">
              <label class="col-md-4 control-label">Fecha Observación BAPIN</label>
              <div class="col-md-7">
                <input type="text" class="form-control" date ng-disabled="!editando" ng-model="oferta.fechaBAPIN">
              </div>
            </div>
            <div class="form-group" ng-show="oferta.BAPIN == 'Si'">
              <label class="col-md-4 control-label">Observación BAPIN</label>
              <div class="col-md-8">
             		<textarea type="text" class="form-control" ng-disabled="!editando" rows="3" ng-model="oferta.observacionBAPIN" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title">Saldo / Fecha</h3>
        </div>
       
        <div class="panel-body">
          <form class="form-horizontal row-border">
            <div class="form-group">
              <label class="col-md-4 control-label">Saldo Remanente</label>
              <div class="col-md-8" style="display: table;">
              	<div class="input-group-addon">$</div>
                <input type="text" class="form-control" ng-disabled="!editando" ng-model="oferta.saldoValor">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Saldo Total</label>
              <div class="col-md-8" style="display: table;">
              	<div class="input-group-addon">$</div>
                <input type="text" class="form-control" ng-disabled="!editando" ng-model="oferta.saldoTotal">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Saldo Fecha</label>
              <div class="col-md-7">
                <input type="text" class="form-control" id="saldoFecha" date ng-disabled="!editando" ng-model="oferta.saldoFecha">
              </div>
              <div class="col-md-1" style="padding-left: 0px;">
              	<a class="btn btn-default pull-left" href="#" ng-click="aBlanco(oferta.saldoFecha, '#saldoFecha')" ng-show="editando" style="margin-right: 5px"><i class="icon-trash"></i></a>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Fecha de Finalización</label>
              <div class="col-md-7">
                <input type="text" class="form-control" id="fechaFinalizacion" date ng-disabled="!editando" ng-model="oferta.fechaFinalizacion">
              </div>
              <div class="col-md-1" style="padding-left: 0px;">
              	<a class="btn btn-default pull-left" href="#" ng-click="aBlanco(oferta.fechaFinalizacion, '#fechaFinalizacion')" ng-show="editando" style="margin-right: 5px"><i class="icon-trash"></i></a>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Fecha de último desembolso</label>
              <div class="col-md-7">
                <input type="text" class="form-control" id="fechaDesembolso" date ng-disabled="!editando" ng-model="oferta.fechaDesembolso">
              </div>
              <div class="col-md-1" style="padding-left: 0px;">
              	<a class="btn btn-default pull-left" href="#" ng-click="aBlanco(oferta.fechaDesembolso, '#fechaDesembolso')" ng-show="editando" style="margin-right: 5px"><i class="icon-trash"></i></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title">Contacto</h3>
        </div>
       
        <div class="panel-body">
          <form class="form-horizontal row-border">
            <div class="form-group">
              <label class="col-md-4 control-label">Nombre</label>
              <div class="col-md-8">
                <input type="text" class="form-control" ng-disabled="!editando" ng-model="oferta.nombre">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Apellido</label>
              <div class="col-md-8">
                <input type="text" class="form-control" ng-disabled="!editando" ng-model="oferta.apellido">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Correo Electrónico</label>
              <div class="col-md-8">
                <input type="text" class="form-control" ng-disabled="!editando" ng-model="oferta.correo">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Teléfono Celular</label>
              <div class="col-md-8">
                <input type="text" class="form-control" ng-disabled="!editando" ng-model="oferta.celular">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Cargo</label>
              <div class="col-md-8">
                <input type="text" class="form-control" ng-disabled="!editando" ng-model="oferta.cargo">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title">Solicitudes</h3>
        </div>
       
        <div class="panel-body">
          <form class="form-horizontal row-border">
            <div class="form-group">
							<div class="col-md-12">
								<table class="table table-bordered table-striped" ng-show="solicitudes.length">
									<tr>
										<th>Denominación</th>
										<th></th>
									</tr>
									<tr ng-repeat="s in solicitudes">
										<td>{{ s.denominacion }}</td>
										<td><a href="#" ng-click="modalSolicitud(s)" class="btn btn-default"><i class="icon-zoom-in"></i></a></td>
									</tr>
								</table>
								<span ng-hide="solicitudes.length">Sin solicitudes</span>
	            </div>
	          </div>
          </form>
        </div>
      </div>
    </div>

	    
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title">Estado</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal row-border">
          	<div class="form-group">
              <div class="col-md-12">
								<div class="row">
									<div class="col-xs-3" style="padding-left: 5px;padding-right: 5px;width: 25%;">
										<button class="btn btn-default form-control" ng-class="(oferta.estado == 'Inactiva') && 'active btn-secondary'" ng-click="oferta.estado = 'Inactiva'" ng-disabled="!editando || !hasPermission('ofertas.editar')">Inactivo</button>
									</div>
									<div class="col-xs-3" style="padding-left: 5px;padding-right: 5px;width: 25%;">
										<button class="btn btn-default form-control" ng-class="(oferta.estado == 'Vencido') && 'active btn-warning'" ng-click="oferta.estado = 'Vencido'" ng-disabled="!editando || !hasPermission('ofertas.editar')">Vencido</button>
									</div>
									<div class="col-xs-3" style="padding-left: 5px;padding-right: 5px;width: 25%;">
										<button class="btn btn-default form-control" ng-class="(oferta.estado == 'Comprometido') && 'active btn-danger'" ng-click="oferta.estado = 'Comprometido'" ng-disabled="!editando || !hasPermission('ofertas.editar')">Comprometido</button>
									</div>
									<div class="col-xs-3" style="padding-left: 5px;padding-right: 5px;width: 25%;">
										<button class="btn btn-default form-control" ng-class="(oferta.estado == 'Activo') && 'active btn-success'" ng-click="oferta.estado = 'Activo'" ng-disabled="!editando || !hasPermission('ofertas.editar')">Activo</button>
									</div>
								</div>
								<div class="row" style="margin-top: 20px;">
		              <label class="col-md-3 control-label">Observaciones</label>
		              <div class="col-md-9">
		             		<textarea type="text" class="form-control" ng-disabled="!editando" rows="3" ng-model="oferta.observacionEstado" />
		              </div>
		            </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
	    
    <div class="col-md-6 col-sm-6 col-xs-12">
	    <div class="panel panel-default">
	        <div class="panel-heading clearfix">
	          <h3 class="panel-title">Documentos Adjuntos</h3>
	        </div>
	       
	        <div class="panel-body">
	          <form class="form-horizontal row-border">
	          	<div class="form-group" ng-show="editando">
	              <label class="col-md-4 control-label">Subir archivos</label>
								<div class="col-md-8">
									<div fine-uploader destination="'/upload/'" placeholder="'Examinar'" uploaded="adjunto"></div>
								</div>
							</div>
							<div class="form-group">
								<span ng-hide="oferta.archivos" style="margin-left: 30px;">No hay archivos cargados.</span>
								<div class="col-md-12" ng-show="oferta.archivos">
									<table class="table table-bordered table-striped">
										<tr>
											<th>Fecha</th>
											<th>Nombre</th>
											<th>Descargar</th>
										</tr>
										<tr ng-repeat="i in oferta.archivos  | orderBy : '-desdeDate'">
											<td>{{ dameFecha(i.fecha) }}</td>
											<td>{{ i.nombreArchivo }}</td>
											<td>
												<a href="/file/{{ i.archivoId }}" download="{{ i.nombreArchivo }}" target="_blank" class="btn btn-lg btn-default btn-sm"><i class="icon-download-alt"></i></a>
												<a href="#" ng-show="editando" ng-click="eliminarListaElem(i,oferta.archivos)" class="btn btn-lg btn-default btn-sm"><i class="icon-trash"></i></a>
											</td>
										</tr>
									</table>
								</div>
							</div>
	          </form>
	        </div>
	    </div>
		</div>
    
  </div>

	<!--MODAL SOLICITUD-->
	<div class="modal fade" role="dialog" id="modalSolicitud">
		<div class="modal-dialog modal-lg">
	  	<div class="modal-content col-md-12">
	    	<div class="modal-header">
	      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="card-heading simple">Solicitud</h4>
	      </div>
	      <div class="modal-body col-md-12">
	      	<div class="row">
				    <div class="col-md-12 col-sm-12 col-xs-12">
				      <div class="panel panel-default">
				        <div class="panel-heading clearfix">
				          <h3 class="panel-title">Identicación</h3>
				        </div>
				       
				        <div class="panel-body">
					      	<form class="form-horizontal row-border">
					            <div class="form-group">
					              <label class="col-md-4 control-label">Denominación del proyecto</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.denominacion}}
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Problema que se busca resolver con el proyecto</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.problema}}
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Descripción</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.descripcion}}
					              </div>
					            </div>
					            <div class="form-group" ng-show="soli.entidad == 'Organismo Provincial'">
					              <label class="col-md-4 control-label">Organismo Provincial</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{organismoProvincialPorId(soli.organismoProvincial)}}
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Municipios</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					              	<span ng-repeat="e in soli.municipios">{{municipioPorId(e)}}<br></span>
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Beneficios esperados</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.beneficios}}
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Organismo ejecutor</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.organismoE}}
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Tipo de proyecto</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.tipo}}
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Estado del proyecto</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.estadoProyecto}}
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Solicitud de financiamiento</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.solicitud}}
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Organismo financiador al que se presentó</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.organismoF}}
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Costo total del proyecto</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.costo}}
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Recursos solicitados</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.recursos}}
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Tiempo de ejecución estimado</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.tiempo}}
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Prioridad</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.prioridad}}
					              </div>
					            </div>
					            <div class="form-group">
					              <label class="col-md-4 control-label">Impacto</label>
					              <div class="col-md-8" style="padding-top: 5px;">
					                {{soli.impacto}}
					              </div>
					            </div>
						      </form>
					      </div>
					    </div>
				    </div>
	    
				    <div class="col-md-12 col-sm-12 col-xs-12">
				      <div class="panel panel-default">
				        <div class="panel-heading clearfix">
				          <h3 class="panel-title">Contacto</h3>
				        </div>
				       
				        <div class="panel-body">
				          <form class="form-horizontal row-border">
				            <div class="form-group">
				              <label class="col-md-4 control-label">Nombre</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{soli.nombre}}
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Apellido</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{soli.apellido}}
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Correo Electrónico</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{soli.correo}}
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Teléfono Celular</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{soli.celular}}
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Función</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{soli.funcion}}
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Área</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{soli.area}}
				              </div>
				            </div>
				            <div class="form-group">
				              <label class="col-md-4 control-label">Municipio</label>
				              <div class="col-md-8" style="padding-top: 5px;">
				                {{municipioPorId(soli.municipio)}}
				              </div>
				            </div>
				          </form>
				        </div>
				     </div>
				   </div>
				  </div>
	      </div>
	      <div class="modal-footer col-md-12">
	        <a type="button" class="btn btn-info" href="/solicitudes/detalle/{{soli._id}}" target="_blank">Ficha Completa</a>
	      	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!--Eliminar oferta-->
	<div class="modal fade" role="dialog" id="modalEliminar">
		<div class="modal-dialog">
	  	<div class="modal-content col-md-12">
	    	<div class="modal-header">
	      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="card-heading simple">Eliminar oferta</h4>
	      </div>
	      <div class="modal-body col-md-12">
	      	<p>Está a un paso de eliminar la oferta.</p>
	      </div>
	      <div class="modal-footer col-md-12">
	      	<button type="button" class="btn btn-info" data-dismiss="modal">Conservar la oferta</button>
	        <button type="button" class="btn btn-danger" ng-click="eliminar(true)">Eliminar la oferta</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>