<div>
  <ul class="nav navbar-nav">
      <li ng-class="{'active': state.current.section == 'ofertas'}">
        <a href="/ofertas" style="font-weight: 400;letter-spacing: 0.5px;">OFERTAS DE FINANCIAMIENTO</a></li>
  </ul>
</div>