<style type="text/css">
    #tablitaR {
        position: fixed;
        top: 0px; display:none;
        margin: auto;
        background-color: #fff;
    }
    #tablita thead tr th:hover, #tablita tbody tr td:hover {
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    var tableOffset = $("#tablita").offset().top;
    var $header = $("#tablita > thead").clone(true);
    var $fixedHeader = $("#tablitaR").append($header);
    var valores = [];
    $(window).bind("scroll", function() {
        var offset = $(this).scrollTop();

        if (offset >= 113 && $fixedHeader.is(":hidden")) {
            $fixedHeader.show();
            $('#tablitaR').width($('#tablita').width());
            ajustarAncho();
        }
        else if (offset < 113) {            
            $fixedHeader.hide();
        }
    });

    function ajustarAncho() {        
        if(valores.length == 0) {
            $('#tablita thead tr th').each(function() {
                valores.push($(this).width());
            });
            var i = 0;
            $('#tablitaR thead tr th').each(function() {
                $(this).width(valores[i]);
                i++;
            });
        }
    }
</script>
<div ng-controller="OfertaCtrl" class="card">
    <h3 style="margin-top: 0px;"><div style="margin-bottom: 16px;display: inline-block;">Ofertas de Financiamiento</div>
        <!--Filtro-->
        <a class="btn btn-default pull-right" ng-hide="editando" href="/ofertas/nuevo" ng-if=hasPermission('ofertas.editar') style="margin-left: 20px;"><i class="icon-plus"></i>&nbsp;Nueva oferta</a>
        <a class="btn btn-default pull-right" href="/apps" ng-show="!editando" style="margin-right: 5px"><i class="icon-arrow-left"></i> Volver</a>
        <a class="btn btn-default pull-right" href="#" ng-click="exportToExcel()" title="Exportar a Excel" style="margin-right: 10px"><i class="icon-download-alt"></i> Excel</a>
        
        <div data-toggle="multiselect buttons-radio" class="control-group pull-right col-md-5" style="width: 633px !important;padding-right: 0px; font-size: 15px;"  ng-hide="hasPermission('solicitudes.solicitante')">
            Estado: &nbsp;&nbsp;
            <div class="btn-group">
                <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-success': (filtro.estado=='Activo') || (filtro.estado=='')}" ng-click="filtro.estado='Activo'">Activo</a>
                <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-warning': (filtro.estado=='Vencido') || (filtro.estado=='') }" ng-click="filtro.estado='Vencido'">Vencido</a>
                <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-danger': (filtro.estado=='Comprometido') || (filtro.estado=='') }" ng-click="filtro.estado='Comprometido'">Comprometido</a>
                <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-secondary': (filtro.estado=='Inactiva') || (filtro.estado=='') }" ng-click="filtro.estado='Inactiva'">Inactivo</a>
                <a style="min-width:21px; font-weight: 700" class="btn btn-default" ng-class="{'active btn-primary': (filtro.estado=='') }" ng-click="filtro.estado=''">Todos</a>
            </div>
        </div>
    
    </h3>
    
    <form class="form-horizontal row-border">
	    <div class="form-group">
            <div class="col-md-3">
                Buscar...<br>
                <input type="text" style="margin-right:10px;" class="form-control search-query" placeholder="Buscar por..." ng-model="filtro" />
            </div>
            <div class="col-md-3">
                Jurisdicción<br>
                <select class="form-control" type="text" ng-model="filtro2.jurisdiccion" style="width: 100%;">
                    <option value=""></option>
                    <option value="">Todas las jurisdicciones</option>
                    <option ng-repeat="e in jurisdicciones | orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
                </select>
            </div>
            <div class="col-md-3">
                Organismo Internacional de Crédito<br>
                <select class="form-control" style="width:100%" type="text" ng-model="filtro2.organismo">
                    <option value=""></option>
                    <option value="">Todos los organismos</option>
                    <option ng-repeat="t in organismos" value="{{t._id}}">{{t.nombre}}</option>
                </select>
            </div>
            <div class="col-md-3">
                Sector<br>
                <select class="form-control" type="text" ng-model="filtro2.sector" style="width: 100%;">
                    <option value=""></option>
                    <option value="">Todos los sectores</option>
                    <option ng-repeat="e in sectores | orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                Programa<br>
                <input type="text" style="margin-right:10px;" class="form-control search-query" placeholder="Buscar..." ng-model="filtro2.programa" />
                <!--<select class="form-control" type="text" ng-model="filtro2.programa" style="width: 100%;">
                    <option value=""></option>
                    <option value="">Todos los programas</option>
                    <option ng-repeat="e in programas | orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
                </select>-->
            </div>
            <div class="col-md-3">
                Objeto General<br>
                <input type="text" style="margin-right:10px;" class="form-control search-query" placeholder="Buscar..." ng-model="filtro2.objeto" />
                <!--<select class="form-control" type="text" ng-model="filtro2.objeto" style="width: 100%;">
                    <option value=""></option>
                    <option value="">Todos los objetos</option>
                    <option ng-repeat="e in objetos | orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
                </select>-->
            </div>
            <div class="col-md-3">
                Objetivos Específicos <br>
                <input type="text" style="margin-right:10px;" class="form-control search-query" placeholder="Buscar..." ng-model="filtro2.objetivoEspecifico" />

                <!--<select class="form-control" type="text" ng-model="filtro2.objetivo" style="width: 100%;">
                    <option value=""></option>
                    <option value="">Todos los objetivos</option>
                    <option ng-repeat="e in objetivos| orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
                </select>-->
            </div>
            <div class="col-md-3">
                Componentes<br>
                <select class="form-control" type="text" ng-model="filtro2.componente" style="width: 100%;">
                    <option value=""></option>
                    <option value="">Todos los componentes</option>
                    <option ng-repeat="e in componentes | orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                Gastos Elegibles<br>
                <select class="form-control" type="text" ng-model="filtro2.gastoElegible" style="width: 100%;">
                    <option value=""></option>
                    <option value="">Todos los gastos elegibles</option>
                    <option ng-repeat="e in gastos | orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
                </select>
            </div>
            <div class="col-md-3">
                Municipio<br>
                <select class="form-control" type="text" ng-model="filtro2.municipios" style="width: 100%;">
                    <option value=""></option>
                    <option value="">Todos los municipios</option>
                    <option ng-repeat="e in municipios | orderBy:'nombre'" value="{{e._id}}">{{e.nombre}}</option>
                </select>
            </div>
            <div class="col-md-3">
                Proyectos Previos Presentados<br>
	            <div class="row">
	              	<div class="col-xs-6">
						<button class="btn btn-default form-control" ng-class="(filtro2.proyectosPrevios == 'Si') && 'active btn-info'" ng-click="filtro2.proyectosPrevios = 'Si'">Si</button>
					</div>
					<div class="col-xs-6">
						<button class="btn btn-default form-control" ng-class="(filtro2.proyectosPrevios == 'No') && 'active btn-info'" ng-click="filtro2.proyectosPrevios = 'No'">No</button>
					</div>
				</div>
            </div>
            <div class="col-md-3" ng-show="(filtro2.proyectosPrevios == 'Si')">
                Proyectos Presentados<br>
                <input type="text" class="form-control" ng-model="filtro2.proyectosPreviosC">
            </div>
        </div>
    </form>
    
    <table id="tablitaR" class="table table-bordered"></table>
    <div id="exportable" charset="UTF-8" style="margin-top: 20px;">
        <table id="tablita" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th ng-click="orden = reordenar('jurisdiccionTexto')">Jurisdicción</th>
                    <th ng-click="orden = reordenar('operacion')">Operación</th>
                    <th ng-click="orden = reordenar('programa')">Programa</th>
                    <th ng-click="orden = reordenar('objeto')">Objeto General</th>
                    <th ng-click="orden = reordenar('saldoValor')" style="text-align: center;">Saldo</th>
                    <th ng-click="orden = reordenar('fechaFinalizacion')" style="text-align: center;">Vencimiento</th>
                    <th style="text-align: center;">Solicitudes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in ofertas | filter:filtro | filter:filtro2 | orderBy:orden" ng-click="verOferta(c._id)" ng-style="colorLinea(c)">
                    <td>{{c.jurisdiccionTexto}}</td>
                    <td>{{c.operacion}}</td>
                    <td>{{c.programa}}</td>
                    <td>{{c.objeto}}</td>
                    <td style="text-align: right;">{{c.saldoValor}}</td>
                    <td style="text-align: center;">{{c.fechaFinalizacion}}</td>
                    <td style="text-align: center;">{{solicitudesPorOferta(c._id)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: center;" ng-hide="(ofertas | filter:filtro).length">No se encuentran ofertas...</div>
</div>