<div ng-controller="VerJurisdiccionCtrl">
    <div class="">
        <h3>Datos de la Jurisdicción
            <a style="margin-left: 10px" ng-hide="modificando" ng-click="modificar()" ng-if=hasPermission('configuracion.editar') class="btn btn-default pull-right no-print"> Modificar</a>
    		<a class="btn btn-default no-print pull-right" ng-click="cancelar()" style="margin-left: 10px;" ng-show="modificando">
                <i class="icon-remove"></i> Cancelar
    		</a>
            <a class="btn btn-default btn-success no-print pull-right" ng-click="guardar()" ng-show="modificando">
                <i class="icon-ok icon-white"></i> Guardar
    		</a>
    	</h3>
        <div class="card-body" style="padding-left: 40px;">
            <div style="display: inline-block"> Nombre:<br /> 
                <input class="form-control" ng-disabled="!modificando" style="width:706px; margin-bottom: 1px;" type="text" ng-model="jurisdiccion.nombre" />
            </div>
            <br>
            <div style="display: inline-block"> Funcionario:<br /> 
                <input class="form-control" ng-disabled="!modificando" style="width:300px; margin-bottom: 1px;display: inline-block;" type="text" placeholder="Funcionario" ng-model="jurisdiccion.funcionario" />
            </div>
            <div style="display: inline-block"> Título Funcionario:<br /> 
                <input class="form-control" ng-disabled="!modificando" style="width:200px; margin-bottom: 1px;display: inline-block;" type="text" placeholder=" TítuloFuncionario" ng-model="jurisdiccion.tituloFuncionario" />
            </div>
            <div style="display: inline-block"> Asistente Funcionario:<br /> 
                <input class="form-control" ng-disabled="!modificando" style="width:200px; margin-bottom: 1px" placeholder="Asistente Funcionario" type="text" ng-model="jurisdiccion.asistenteFuncionario" />
            </div>
            <br>
            <div style="display: inline-block"> Dirección:<br /> 
                <input class="form-control" ng-disabled="!modificando" style="width:300px; margin-bottom: 1px;display: inline-block;" type="text" placeholder="Dirección" ng-model="jurisdiccion.direccion" />
            </div>
            <div style="display: inline-block"> Localidad:<br /> 
                <input class="form-control" ng-disabled="!modificando" style="width:200px; margin-bottom: 1px" placeholder="Localidad" type="text" ng-model="jurisdiccion.localidad" />
            </div>
            <div style="display: inline-block"> Código Postal:<br /> 
                <input class="form-control" ng-disabled="!modificando" style="width:200px; margin-bottom: 1px;display: inline-block;" type="text" ng-model="jurisdiccion.codigoPostal" />
            </div>
            <br>
            <div style="display: inline-block"> Teléfono:<br /> 
                <input class="form-control" ng-disabled="!modificando" style="width:300px; margin-bottom: 1px;display: inline-block;" type="text" placeholder="Teléfono" ng-model="jurisdiccion.telefono" />
            </div>
            <div style="display: inline-block"> Mail:<br /> 
                <input class="form-control" ng-disabled="!modificando" style="width:405px; margin-bottom: 1px;display: inline-block;" type="text" placeholder="Mail" ng-model="jurisdiccion.mail" />
            </div>
            <br>
            <div style="display: inline-block"> Otros Teléfonos:<br /> 
                <input class="form-control" ng-disabled="!modificando" style="width:500px; margin-bottom: 1px;display: inline-block;" type="text" placeholder="Otros Teléfonos" ng-model="jurisdiccion.otrosTelefonos" />
            </div>
            <div style="display: inline-block"> Última Actualización:<br /> 
                <input class="form-control" ng-disabled="!modificando" date style="width:205px; margin-bottom: 1px;display: inline-block;" type="text" ng-model="jurisdiccion.ultimaActualizacion" />
            </div>
        </div> 
    </div>
</div>
