<div class="container-fluid" ng-controller="MunicipiosCtrl">
    <div class="row-fluid">
        <div class="col-md-2 panel panel-default" style="padding-left: 0px; padding-right: 0px; margin-left: 20px; margin-right: 50px;">
            <div class="panel-heading">
                <h3 class="panel-title">Municipios</h3>
            </div>
            <div class="panel-body">
                <!-- Panel izquierdo -->
                <div class="control-group" style="display: block; margin-top:15px; margin-bottom:25px">
                    <div class="controls">
                        <input placeholder="Filtro..." type="text" class="form-control search-query" ng-model="filtro"/>
                    </div>
                </div>
                
                <div class="control-group" style="display: block; margin-top:15px; margin-bottom:25px">
                    <div class="controls">
                        <a class="btn btn-default btn-block" href="/configuracion/municipios/nuevo" ng-if=hasPermission('configuracion.editar')>
                            <i class="icon-plus"></i> Nuevo Municipio
                		</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="padding-top: 0px;">
            <table style="width: 100%;">
                <tr style="border-bottom: solid 2px grey;">
                    <td>Municipio:</td>
                    <td>Departamento:</td>
                    <td>Población:</td>
                    <td></td>
                </tr>
                <tr ng-repeat="c in municipios | orderBy:'nombre' | filter:filtro" style="border-bottom: solid 1px grey;">
                    <td>{{c.nombre}}</td>
                    <td>{{c.departamento}}</td>
                    <td>{{c.poblacion}}</td>
                    <td><a ng-click="ver(c)" class="btn btn-link pull-right" ><i class="icon-zoom-in"></i> Ver detalle</a></td>
                </tr>
            </table>
            <div class="row-fluid" ng-show="!municipios.length">No hay ninguna municipio</div>
        </div>
    </div>
</div>

