<ul class="nav navbar-nav">
    <li ng-class="{'active': state.current.section == 'municipios'}">
      <a ng-href="/municipios" style="font-weight: 400;letter-spacing: 0.5px;">MUNICIPIOS</a></li>
</ul>