<div ng-controller="NuevoMunicipioCtrl">
    <div class="">
        <h3>Nuevo Municipio
            <a class="btn btn-default no-print pull-right" href="/configuracion/municipios" style="margin-left: 10px;">
                <i class="icon-remove"></i> Cancelar
    		</a>
            <a class="btn btn-default btn-success no-print pull-right" ng-click="guardar()">
                <i class="icon-ok icon-white"></i> Guardar
    		</a>
    	</h3>
        <div class="card-body" style="padding-left: 40px;">
            <div style="display: inline-block"> Nombre:<br /> 
                <input class="form-control" style="width:503px; margin-bottom: 1px;" type="text" ng-model="municipio.nombre" />
            </div>
            <div style="display: inline-block; margin-bottom:5px"> Abreviatura:<br /> 
                <input class="form-control" style="width:200px; margin-bottom: 1px;" type="text" ng-model="municipio.abreviatura" />
            </div>
            <br>
            <div style="display: inline-block"> Departamento:<br /> 
                <input class="form-control" style="width:300px; margin-bottom: 1px;display: inline-block;" type="text" placeholder="Departamento" ng-model="municipio.departamento" />
            </div>
            <div style="display: inline-block"> Población:<br /> 
                <input class="form-control" style="width:200px; margin-bottom: 1px;display: inline-block;" type="text" ng-model="municipio.poblacion" />
            </div>
            <div style="display: inline-block"> Población Fecha:<br /> 
                <input class="form-control" date style="width:200px; margin-bottom: 1px" placeholder="Población Fecha" type="text" ng-model="municipio.poblacionFecha" />
            </div>
            <br>
            <div style="display: inline-block"> Coordenadas:<br /> 
                <input class="form-control" style="width:300px; margin-bottom: 1px;display: inline-block;" type="text" placeholder="Coordenadas" ng-model="municipio.coordenadas" />
            </div>
            <div style="display: inline-block"> Superficie:<br /> 
                <input class="form-control" style="width:200px; margin-bottom: 1px" placeholder="Superficie" type="text" ng-model="municipio.superficie" />
            </div>
            <div style="display: inline-block"> Última Actualización:<br /> 
                <input class="form-control" date style="width:200px; margin-bottom: 1px;display: inline-block;" type="text" ng-model="municipio.ultimaActualizacion" />
            </div>
            <br>
            <div style="display: inline-block"> Intendente:<br /> 
                <input class="form-control" style="width:400px; margin-bottom: 1px;display: inline-block;" type="text" placeholder="Intendente" ng-model="municipio.intendente" />
            </div>
            <div style="display: inline-block"> Partido Político:<br /> 
                <input class="form-control" style="width:305px; margin-bottom: 1px;display: inline-block;" type="text" placeholder="Partido Político" ng-model="municipio.partidoPolitico" />
            </div>
        </div> 
    </div>
</div>
